[2020-11-23 12:58] eryzerz opened #1 "startScan() doesn't open native camera"
**Describe the bug**
I installed this plugin on Ionic 5 Angular iOS project. Whenever I run startScan method, it doesn't trigger native camera and no error message. The only thing I can see in log is this
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Follow install plugin instruction at readme
2. Import Plugins
`import { Plugins } from '@capacitor/core';`

3. Put prepare on ionView

[2020-11-24 10:02] tafelnl commented on #1
You might have forgotten to request the camera permission. See https://github.com/DutchConcepts/capacitor-barcode-scanner#permissions. You can use Capacitor's official permission plugin: https://capacitorjs.com/docs/apis/permissions

I am planning on implementing this into this library for convenience. But as of now, you have to do this manually.

[2020-11-24 14:32] bash88 commented on #1
Hi @tafelnl,

Running into the same problem here. Capacitor's official permission plugin (the one you linked to) only allows for querying the status of permissions, not requesting them. At least for as far as I can see.

Do you maybe have an example or suggestion for requesting permissions?

Regards,
Bas

[2020-11-24 14:48] tafelnl commented on #1
Hm, I see now. Hold on tight as I will release a solution for this in a couple of days. In the meantime you could request permission with this plugin for example: https://www.npmjs.com/package/capacitor-plugin-permissions

[2020-11-24 17:58] bash88 commented on #1
https://www.npmjs.com/package/capacitor-plugin-permissions and also https://github.com/jayordway/capacitor-permissions both have issues when building in Xcode because they don't account for the new 'limited' status Apple introduced for permissions.

I tried to fix it in the swift files but I'm far from a native iOS expert so couldn't get it to work.

Holding on really tight for the release of your

[2020-11-26 10:14] tafelnl commented on #1
Just an update: I am working on it as we speak. ETA: 2nd of november

[2020-12-01 11:16] tafelnl commented on #1
@eryzerz @bash88 @herefisyfish

I am delighted to announce that I just released a version with permission utils added.

You can install it by running:

[code]

Documentation can be found here: https://github.com/DutchConcepts/capacitor-barcode-scanner/tree/feat/permissions#permissions

I am inviting you guys to test it out and share some feedback

[2020-12-01 13:28] herefishyfish commented on #1
Thanks for the hard work. Will let you know how it goes 👍

[2020-12-01 15:39] bash88 commented on #1
Awesome! Going to try it right away

[2020-12-01 16:19] bash88 commented on #1
Pretty sure I'm doing everything right, but getting this error in the Xcode console:

⚡️  To Native ->  BarcodeScanner checkPermission 15561934
⚡️  Error: Plugin BarcodeScanner does not respond to method call "checkPermission" using selector "checkPermission:".
⚡️  Ensure plugin method exists, uses @objc in its declaration, and arguments match selector without callbacks in CAP_PLUGIN_METHOD.
⚡️  L

[2020-12-02 09:39] tafelnl commented on #1
Was able to reproduce your issue @bash88. It looks like something goes wrong when running `cap sync` after updating the package. A very simple fix: within Xcode do the following: `Product` > `Clean Build Folder`. And then run again. That should fix it.

[2020-12-02 10:06] #1 closed

[2020-12-10 15:04] Jacobra93 opened #5 "No podspec found for `DutchconceptsCapacitorBarcodeScanner` in `../../node_modules/@dutchconcepts/capacitor-barcode-scanner`"
**Describe the bug**
When trying to install the plugin, I get an error saying there is no podspec found for the plugin.

**To Reproduce**
Steps to reproduce the behavior:

1. Follow installation instructions - starting with `npm install @dutchconcepts/capacitor-barcode-scanner`
2. Run npx cap sync
3. See error:

**Expected behavior**
When running npx cap sync we should not get this error.

**Addit

[2020-12-10 15:35] tafelnl commented on #5
Can you try installing the just released 1.0.1 version? That should fix it.

[2020-12-10 15:40] #5 closed

[2020-12-10 15:49] Jacobra93 commented on #5
@tafelnl
Installing the newest version fixed it! Thanks.

[2020-12-10 17:54] ahmedogela opened #6 "It only scans QRCodes"
It only scans QRCodes in both ios and android.
Did you try to scan a barcode? and is there any settings to make it work?
It is good plugin but it can't recognize barcodes only qrcodes!

[2020-12-10 18:16] tafelnl commented on #6
I just tested on Android and it is able to scan barcodes.

Can you provide some more information on the type of device you are using and the barcode you are trying to scan?

[2020-12-10 18:21] ahmedogela commented on #6
Device: Iphone X
Barcode Type: I tried various products with different types of barcode printed on their labels

[2020-12-10 18:33] ahmedogela commented on #6
I have just tried these barcodes and only accept to scan the qrcode

![Barcodes](https://user-images.githubusercontent.com/32929249/101814295-9f291d80-3b26-11eb-861f-3628170d5f93.jpg)

[2020-12-10 18:35] tafelnl commented on #6
A lot of those should be supported. Did you test it in Android as well? I will dive into this tomorrow.

[2020-12-10 18:42] ahmedogela commented on #6
Yes I tested on HTC desire 626s and it is same as ios, only qrcode.

[2020-12-10 18:46] tafelnl commented on #6
Will get back to you tomorrow. If you are able to deliver a working reproduction example, that would help enormously.

[2020-12-10 18:51] tafelnl commented on #6
I think I know why it would not scan those barcodes on iOS. But on Android it should work. So if you could deliver an example for Android that would be great.

[2020-12-10 19:24] Jacobra93 opened #7 "More info in the Opacity of the WebView section"
I do not see the scanner open up when the method is fired. I think this is because the webview is blocking it, because I can see that `background: 'transparent';` is applied but I guess it's not enough. I have tried applying `background: 'transparent';` to other layers, like` ion-app` and `ion-content`, to no avail.

Any tips or examples of other plugins getting the webview transparent?

I am tryi

[2020-12-10 19:58] Jacobra93 commented on #7
I got it to work by adding:

Android, on the body tag:
opacity: 0;
background: none;

iOS, on the html tag:
opacity: 0;

[2020-12-10 21:41] tafelnl commented on #7
Thanks for sharing!

[2020-12-10 21:41] #7 closed

[2020-12-11 00:02] ahmedogela commented on #6
Sure, I will make an example for android

[2020-12-11 03:08] ahmedogela commented on #6
While I make an example for android, I figure out that it works :) but it takes some noticeable time to recognize the barcode, so I have to wait few seconds to scan it. (*** I also test on a slow android device :) )
Yes, it works on android as expected.
Waiting your iOS fixes.
Thank you 💯

[2020-12-11 10:22] #6 closed

[2020-12-11 10:23] lewdea commented on #7
If the root Html tag is set to "opacity: 0", then how can we implement custom UI on camera view?

[2020-12-11 10:31] tafelnl commented on #7
@lewdea Fair point. Changing the opacity should not be necessary. Most of the time you should just change the background of one of more divs to none. You can try opening up the app with `chrome://inspect/#devices` for example and inspect every div (top to bottom) to hide their background.

[2020-12-11 10:31] tafelnl commented on #6
Upgrade to the latest version. Should be fixed now!

[2020-12-14 13:20] Jacobra93 commented on #7
@lewdea Good point. Were you able to get it working without using the opacity? I would like to utilize custom UI on the camera view so I guess I'll have to figure something else out.
@tafelnl I tried putting transparent on multiple levels in an Ionic app and nothing seemed to make the camera view show up, but I will try to play around with it some more.

[2020-12-14 13:30] tafelnl commented on #7
What you could do to discover what divs are responsible for it, is the following:

Inspect your webapp in your browser. Add some very noticeable background color to `<html>`. Then delete the most upper root div and see if you can see the background color of `<html>`. You do? Nice. Undo the deletion and remove the child of that div. Etc etc. This way you can gradually debug and discover what divs a

[2020-12-15 03:35] lewdea commented on #7
@Jacobra93   I got it working by setting body tag background to transparent too.   There is no need to set every element's style. My app is built with ionic-vue and capacitor.
`BarcodeScanner.hideBackground();
document.body.style.background = "transparent";
result.value = await BarcodeScanner.startScan();`

[2020-12-18 19:51] bash88 opened #10 "Frame in Camera view"
**Is your feature request related to a problem? Please describe.**
When there are multiple codes close together on the scanned surface, there's no way to make sure the scanner scans a particular one.

**Describe the solution you'd like**
A frame in the camera view, in which the code would have to be placed to scan it, would fix this.

**Describe alternatives you've considered**
None. I've seen thi

[2020-12-18 20:10] bash88 opened #11 "Option for limiting which code type(s) can be scanned"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to limit the code types that can be scanned. I think this would improve user experience because incompatible code types can't be scanned this way.

**Describe the solution you'd like**
An option in the prepare and/or startScan methods to specify which code type(s) this particular scanner can scan.

**Describe al

[2020-12-21 13:38] tafelnl commented on #11
I like this feature request. Will try to implement within ~7 days.

[2020-12-21 13:47] tafelnl commented on #10
Before we are able to accurately identify in which area a barcode should be placed, we must first know in what area the used libraries are looking for barcodes. For AVFoundation on iOS I know there is a `rectOfInterest` available. But for zxing on Android I am not sure. Does someone have any idea?

[2020-12-22 11:22] shangeeee opened #12 "Getting @color/colorPrimary instead of the BarcodeView"
After setting everything transparent in the web view, the Barcode View is not showing up but barcode scans are working properly. It is only the app primary color that is in the background.

I edit a little the source code by bringing the Barcode View to the front instead of the WebView everything works properly but I cannot take advantage of the custom personalisation with HTML/CSS.

Ionic CLI : 6

[2020-12-22 12:09] tafelnl commented on #12
Have you tried debugging it like this: https://github.com/DutchConcepts/capacitor-barcode-scanner/issues/7#issuecomment-744441148

[2020-12-23 14:11] shangeeee commented on #12
Yes. I tried
I upgrade my ionic version and now it is working.
Thanks

[2020-12-23 14:11] #12 closed

[2020-12-29 15:54] tafelnl commented on #11
Just an update to let you know that I am on it. Work in progress on this branch: https://github.com/DutchConcepts/capacitor-barcode-scanner/tree/feat/support-specifying-formats. Android should already work. The API looks like the following:

`BarcodeScanner.start({ targetedFormats: ['QR_CODE'] })`

All supported types can be found [here](https://github.com/DutchConcepts/capacitor-barcode-scanner/b

[2021-01-03 06:43] mesqueeb opened #13 "become a capacitor community plugin"
I'd love this plugin to be an officially maintained capacitor community plugin!
Lots of people would like this too:
https://github.com/capacitor-community/proposals/issues/53

[2021-01-03 22:42] tafelnl commented on #13
I will put effort into making this a community plugin sometime next week! This week I will work on two other issues.

[2021-01-04 00:05] cmartinezone commented on #13
Thank you for the great work!

[2021-01-06 01:33] rdlabo commented on #11
@tafelnl This is great work. I'm looking forward to merge it!

[2021-01-08 14:04] baldoalessandro commented on #10
Hello! It seems to me that on Android the area limiting is performed inside the zxing-andoid-embedded library
https://github.com/journeyapps/zxing-android-embedded/blob/13440ad8751dcaba4177fa50dfee639dac52a53d/zxing-android-embedded/src/com/journeyapps/barcodescanner/BarcodeView.java#L179 which is called by BarcodeScanner.scan

`BarcodeScanner` doesn't implement `possibleResultPoints` at the momen

[2021-01-12 13:17] k3341095 opened #15 "hideBackground not working?"
**Version**
Dev mode.......... capacitor
 Pkg quasar........ v1.15.0
 Pkg @quasar/app... v2.1.14
 Debugging......... enabled
 Running mode...... IDE (manual)

**Desktop (please complete the following information):**

- OS: windows
- Browser chrome

**Smartphone (please complete the following information):**

- Device: samsung galaxy s10
- OS:  10.0
- Browser
- Version [e.g. 22]

**Additional conte

[2021-01-12 13:44] tafelnl commented on #15
Have you tried debugging it like this: #7 (comment)

[2021-01-12 18:23] k3341095 commented on #15
There was an image on my page.
I set the image to none and it works fine.
Thank you..
The zxing module seems to be slow to recognize code 128..
Trying to apply another module. mlkit

[2021-01-13 13:25] tafelnl commented on #15
Good to hear you got it working! If you have further questions about code 128 or anything else, please open a new issue 💯

[2021-01-13 13:25] #15 closed

[2021-01-20 13:48] tafelnl commented on #11
First of all I am sorry for letting you wait for so long. Recent lockdown here caused a lot of work to pile up. But I have great news for you: I just released an alpha version with this feature.

Please run `npm i @dutchconcepts/capacitor-barcode-scanner@v1.2.0-alpha.0` to try it out.

[2021-01-21 15:28] hellokingdom commented on #11
Brilliant @tafelnl. I've recently swapped to this barcode scanner after initially using the Cordova plugin. Very impressed with the work you have done and seeing great results. This feature is really import to our use case so I'll feedback on our experience.

[2021-01-22 18:09] hellokingdom commented on #11
@tafelnl no issues at all with this. Tested on QR Code only and a mix of other barcodes. Great work.

[2021-01-23 09:03] tomasyun opened #16 "Supertypes of the following classes cannot be resolved. Please make sure you have the required dependencies in the classpath: class com.dutchconcepts.capacitor.barcodescanner.BarcodeScanner, unresolved supertypes: com.journeyapps.barcodescanner.BarcodeCallback"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
[e.g. v1.0.0]

**Desktop

[2021-01-23 10:05] tafelnl commented on #16
Could you please provide more information? If you would he able to fill out the bug template, that would help a lot

[2021-01-25 02:09] tomasyun commented on #16
I added it step by step according to the introduction on the readme; but my native code uses the plugin added by Kotlin
![1611540541(1)](https://user-images.githubusercontent.com/13829185/105652893-633ef180-5ef5-11eb-996b-9bc38f21534d.jpg)

[2021-01-25 08:44] tafelnl commented on #16
Can you try the following:

In Android Studio click `File` `>` `Sync Project with Gradle Files` and try to build again.

[2021-02-04 09:00] tafelnl commented on #16
Closing this issue. If you are still experiencing this issue, please do not hesitate to ask for help again!

[2021-02-04 09:00] #16 closed

[2021-02-14 00:55] mauriceackel opened #17 "Dangling promise when stopping scan"
**Describe the bug**
When a scan is active (i.e. `const result = await BarcodeScanner.startScan();`) and the scan gets stopped somewhere else (i.e. `BarcodeScanner.stopScan();`). The original promise is neither resolved nor rejected.

**To Reproduce**
Steps to reproduce the behavior:

1. Start a scan and await the result.
2. Stop the scan from somewhere else.
3. Code after the `await` will not be

[2021-02-14 14:41] mauriceackel commented on #17
I'm a noob when it comes to capacitor plugins but I checked the code and perhaps it is just sufficient to check if the `savedCall` exists inside the `stopScan` function and if so, resolve it?!

[2021-02-14 15:30] tafelnl commented on #17
I think this is a legit use case. However, your solution would require a major version bump, since it is a breaking change. But we could maybe introduce an option to `stopScan` to enable this. Such as a `resolveScan` boolean for example. Agree?

[2021-02-14 15:32] tafelnl commented on #17
Also I think rejecting it would make more sense, since it did not recognize a barcode or something.

[2021-02-14 15:34] mauriceackel commented on #17
Yes, I think an additional option would be totally fine :)
Regarding rejecting or resolving: I guess it comes down to your design decision. I just thought that due to the fact that there is this "hasContent" property, the Start scan was supposed to also not return any content...

[2021-02-16 08:32] tafelnl commented on #17
Yes, I think that would be the right way to go about this. I will implement this together with #11 in the next release. ETA: 22nd of feb.

[2021-02-16 13:21] mauriceackel commented on #17
Nice, I appreciate it! 🚀

[2021-02-26 10:05] SalahAdDin commented on #13
@tafelnl It seems it is now a _"community"_ plugin, but it is not installable from **npm** _capacitor-community_ packages.

[2021-02-26 10:44] tafelnl commented on #13
Yes, you are correct. I will release the next version on the community npm.

[2021-02-26 12:51] SalahAdDin commented on #13
@tafelnl you could also request permissions from the user.

[2021-02-28 20:22] fseve opened #20 "Plugin example in ionic/angular project"
**Describe the bug**

First of all thank you very much for the work you do for the community

I have been trying to integrate this plugin into a basic ionic v5 project, but have had some trouble getting the scanner to work.

The error that appears when I try it on an Android device is:

Error: Uncaught (in promise): Error: method not available in web Error: method not available in web

**To Reprod

[2021-03-01 12:24] tafelnl commented on #20
It seems like you are trying to use the plugin in a browser.

Do you have your app installed as an app (e.g. an .apk file) or are you debugging it in the browser?

[2021-03-01 19:00] fseve commented on #20
I use the command `ionic cap run android -l --external` that I found on the page of capacitor...

https://capacitorjs.com/docs/guides/live-reload

The application is installed on my phone and I get the error that I mention above

[2021-03-01 22:10] tafelnl commented on #20
Would you be able to provide a screenshot and ideally a reproduction code snippet/repo?

[2021-03-01 22:58] fseve commented on #20
Yes of course. I just uploaded my code to github, any help is important to me

https://github.com/fseve/test-capacitor-barcode

Thanks

[2021-03-02 09:29] tafelnl commented on #20
Make sure you follow the steps under [installation](https://github.com/capacitor-community/barcode-scanner#installation) and [configuration](https://github.com/capacitor-community/barcode-scanner#installation) in de readme

I see that you are missing the `add(BarcodeScanner.class);` line for example.

Also make sure you either run something like `npm run ng build && npx cap copy`. That will build

[2021-03-02 15:36] fseve commented on #20
Hello, first of all, I apologize for the inconvenience caused, I appreciate your help.

I have made the changes you recommended and the errors from before do not appear, but the camera does not open and I can never see the scanner, however I do not find errors that give me any idea about what is happening.

Again thank you very much, the problem is not the plugin, but the ignorance of how to use i

[2021-03-03 07:01] SalahAdDin commented on #20
Don't feel bad friend, i am having the same error here and i quite implemented many other plugins(most of them from community) before to test this. I'm also lost about why we can see the scanner.

[2021-03-03 07:19] tafelnl commented on #20
It looks like you are having an issue with hiding the background. Please see this thread: https://github.com/capacitor-community/barcode-scanner/issues/7#issuecomment-744441148

But since this is another issue than the one mentioned here first I will close this one. If you still experience an issue after reading #7, please do not hesitate to open up a new one.

[2021-03-03 07:19] #20 closed

[2021-03-03 08:58] SalahAdDin commented on #7
I got the `IonTabs` component is hiding it, so, how can i handle it? Also, if we want to create a custom UI, how can we do that?

[2021-03-03 09:27] tafelnl commented on #7
You should probably use the native Ionic way of hiding such components (which I do not know anything about unfortunately). You could also try and hide it with JavaScript.

Custom UI can be created in any way you like. An example can be found here: https://github.com/capacitor-community/barcode-scanner/tree/main/examples/scan-area-layout

[2021-03-03 11:19] SalahAdDin commented on #7
@tafelnl is there no other way to do this without handling background by ourselves? `cardIo` scanner put the camera over the browser markup as far as i could understand.

[2021-03-03 14:32] tafelnl commented on #7
I am not sure what you are willing to accomplish. Your screenvideo looks good to me. Could you elaborate?

[2021-03-03 17:01] SalahAdDin commented on #7
Every time i have to reload the app, the scanner screen is showed, it must not be like that; but when i open the scanner, well, i couldn't handle the `IonTabs` component opacity yet.

[2021-03-04 10:31] tafelnl commented on #7
I am trying my best to understand @SalahAdDin . But I am still not sure what you mean. What exactly do you mean by reloading? And what exactly happens that you think should not happen?

[2021-03-04 11:39] SalahAdDin commented on #7
I made my template like this:
[code]
`.scanner-ui` has `display: none` by default.

In **React** i get both one and i switch them when it is required.

Thanks.

[2021-03-08 01:46] mesqueeb commented on #13
@tafelnl looking forward!!

[2021-03-15 14:02] tpharaoh commented on #7
@lewdea I am having a similar issue with vuejs, do you mind posting a snippet?

[2021-03-15 14:59] tpharaoh commented on #7
Thanks @lewdea  I tried this based on your idea above and it essentially worked
[code]

[2021-03-15 15:08] tpharaoh opened #21 "Add WIFI from QR code"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
when you scan a QR code with wifi data with native camera it offers to connect to wifi
WIFI:T:WPA;S:myHome;P:12345678;H:false;

[2021-03-16 14:18] tafelnl commented on #21
In my honest opinion this is outside the scope of this package. If someone would like to connect to a WIFI spot through a QRcode they would use their native QR scanner. However, if you want to add such capability to your app, you should implement that yourself. On Android you could start by looking at this SO issue: https://stackoverflow.com/questions/8818290/how-do-i-connect-to-a-specific-wi-fi-n

[2021-03-16 14:18] #21 closed

[2021-03-16 14:19] tafelnl commented on #21
However, I will keep track of this and similar issues. If it receives enough attention I will consider implementing it. And of course you could always submit a PR yourself.

[2021-03-16 14:33] tpharaoh commented on #21
On further research, I think I agree with you, it doesn't belong in your
package, I should use something like WifiWizard2.

I am probably not qualified to do the native side here. WifiWizard2 is not
being updated anymore. My company offered to pay him to update it... but no
response... oh well. I'll think I will have to solve this another way... in
all cases, thanks for your prompt response, and v

[2021-03-16 15:08] #11 closed

[2021-03-16 15:55] tafelnl commented on #13
Just published the package under `@capacitor-community/barcode-scanner`. 🚀

[2021-03-16 15:55] #13 closed

[2021-03-16 17:44] Cannonb4ll opened #23 "Capacitor 3 support"
Great package, awesome you've recently became a community plugin! 🎉

I was wondering if there's Capacitor 3 support coming?

Thanks!

[2021-03-17 07:56] mesqueeb commented on #13
@tafelnl it's still `import com.dutchconcepts.capacitor.barcodescanner.BarcodeScanner;` even though it's now not `dutchconcepts` anymore?

[2021-03-17 08:57] tafelnl commented on #23
Yes, it is on the roadmap! Support will likely land before Capacitor 3 is released in stable.

[2021-03-17 09:01] tafelnl commented on #13
For legacy reasons, yes. But it does not affect the functionality of the app.

[2021-03-19 13:20] zNoobs opened #25 "Can't open the QR Code Scanner: Access denied finding property "vendor.camera.aux.packagelist""
**Describe the bug**
Nothing happens on the android app when I call:
`await BarcodeScanner.startScan()`

**Expected behavior**
The bar code scanner should appear.

**Version**
I'm using Ionic 5 Angular with Capacitor, here the versions:
[code]

**Smartphone (please complete the following information):**
- Device: Xiaomi Mi A1
- OS: Android 9

**Additional context**
I added
Here the error logs I ge

[2021-03-19 14:41] tafelnl commented on #25
It looks like the scanner is appearing, but it is hidden by the elements in the WebView. Can you please try debugging it like this: #7 (comment)

[2021-03-22 10:20] zNoobs commented on #25
So you were right the scanner is appearing but it's hidden, setting a transparent background to the elements didn't work, the only thing that worked was to change the body opacity like this comment: https://github.com/capacitor-community/barcode-scanner/issues/7#issuecomment-799488694

[2021-03-22 10:20] #25 closed

[2021-03-22 11:41] tpharaoh commented on #7
@SalahAdDin did you succeed with this plugin and your design?

Our app has a background, and as other posters that meant I needed the background='transparent' and opacity

I would have liked to have just a portion of the screen with the camera...

Its OK, client doesn't require it, but I just had a vision :)

[2021-03-22 14:21] SalahAdDin commented on #7
We handle it by changing the **body** display attribute while the scanner is on.

[2021-03-25 23:46] rpascal commented on #10
**On Android:** Could you possibly use [DecoratedBarcodeView](https://github.com/journeyapps/zxing-android-embedded/blob/master/zxing-android-embedded/src/com/journeyapps/barcodescanner/DecoratedBarcodeView.java) I could be wrong but I believe that view includes the frame and text at the bottom.

[2021-03-26 07:56] jw-redpanda opened #26 "need help to use barcode scanner"
I am new to capacitorjs and trying out your plugin BarcodeScanner.

Followed the instructions, defining build.gradle, adding BarcodeScanner.class in MainActivity.
Also, run 'ionic build; ionic cap copy; ionic cap sync' and then re-compile and run on Android device.
In the Ionic App, I have a service providing startScan() function that will be trigger by a user click:

[code]

However, it seems it

[2021-03-28 08:04] tripodsgames commented on #26
You need to hide every element on your document.
I implemented in the follow way using css and js:

[code]
I made the scanner interface inside a div with `.scanner-ui` class to hide it when the scanner is not enabled.
Then i put the `.scanner-hide` class in my `<ion-app>` to hide the view when the scanner is enabled.

App Component HTML:
[code]

When the scanner is open i added the `.qrscanner` cl

[2021-03-28 13:49] jw-redpanda commented on #26
Thanks @tripodsgames!

I tried out your clever way to show/hide the ionic pages that may block the barcode camera view.
It seems to me the code below cannot hide the ionic/angular pages... don't know if it is Angular that does not allow direct access to DOM.
[code]

[2021-03-28 19:08] tripodsgames commented on #26
You need to call this in the Javascript
[code]

[2021-03-29 04:08] longlife1st opened #27 "Autofocus unreliable on Android"
**Describe the bug**
The camera sometimes does not autofocus properly. (It might be a problem happening on specific devices).
It is possible to fix the focus by switching to stock Camera app and return to app implementing this plugin.

**To Reproduce**
Steps to reproduce the behavior:
Implement QR reading using this plugin.

**Expected behavior**
Unless configured otherwise, plugin should have con

[2021-03-29 04:34] jw-redpanda commented on #26
Your help is superb @tripodsgames! you saved me from the middle of the sea 😁😎

For those who are newbies trying out this plugin, on top of the Ionic/Angular [tutorial](https://ionicframework.com/docs/angular/your-first-app).  The detailed steps:
1. clone the [repo](https://github.com/ionic-team/photo-gallery-capacitor-ng)
2. cd tutorial-photo-gallery-angular
3. edit package.json because of an Andr

[2021-03-29 10:49] tafelnl commented on #26
Thanks for all the help guys. Will take a look if I can put this in the docs somewhere.

[2021-03-29 10:50] tafelnl commented on #27
This was not a specific design decision. I like the idea of being able to set a flag for this. Any PR for that is very welcome. Do you happen to know if something like this also exists on iOS?

[2021-04-05 11:36] longlife1st commented on #27
@tafelnl
First, sorry for the late reply, I haven't been able to take care of this until today.

I took a bit more time to look at how this is implemented in the zxing-android-embedded library.
Basically, even if we use
[code]
the `CameraConfigurationUtils` class of the library actually selects to use Continuous Focus Mode only if it is one of the supported focus mode, as returned by Android OS.
[

[2021-04-14 09:27] agileMikeDev commented on #23
Hi, is capacitor 3 just not supported right now, or does it even not work with the current version 1.2.1?

[2021-04-14 10:46] tafelnl commented on #23
I will release a new version that targets Capacitor 3.0 soon.

[2021-04-20 19:08] wurst44 commented on #26
I am doing everything of the above.
I can scan barcodes but it does not seem to show an camera **overlay** which seems to exsist?

[code]
[code]
[code]
thx for your help!

[2021-04-20 19:41] tripodsgames commented on #26
You need to create your own camera overlay using css and html inside the scanner-ui div.

https://github.com/capacitor-community/barcode-scanner/blob/main/examples/scan-area-layout/index.html

[2021-04-22 00:24] javatheist commented on #26
@jw-redpanda I honestly appreciate all your effort. I'm convinced that your endeavour to improve the community's understanding was very beneficial from some developers' perspectives.
After all, I'd like to point out that - just from my point of view - there is no need to take steps 6 and 7. Keeping the AndroidManifest as is should be perfectly fine too.
My approach was to npm install Capacitor's C

[2021-04-22 08:44] #27 closed

[2021-04-22 08:46] tafelnl commented on #27
Closed by merging #29

Thanks @longlife1st

[2021-04-22 08:51] tafelnl commented on #17
Just a quick update. I did not forget about this issue. But I have been really busy lately. If anyone could join in to give this a shot, it would be very much appreciated. Otherwise I will look into this in a few weeks.

[2021-04-22 09:03] YourPenguin opened #30 ""TypeError: undefined is not an object" [...] / Error: method not available in web"
So, I'm using this plugin for a while, but now i stared a new web app project with vue and the quasar framework.
I imported the plugin in the <script> tag:

[code]

and want a function to return the scanned data like:

[code]

In my last project I did it the same all the way, so im pretty confused that on my iPhone 8 i get this message:

https://prnt.sc/11uywim

So it immediately fails. This also

[2021-04-22 09:24] tafelnl commented on #30
It looks like the native methods of Capacitor are not being loaded into the webapp. That could be caused by various things. For example:

- you are not running the app in a native shell (like a .apk for example, or built from Android Studio or Xcode)
- you are not using capacitor correctly (maybe because quasar does not import it by default)

[2021-04-22 09:30] mauriceackel commented on #17
Hi @tafelnl, as I said I have no experience with Capacitor Plugins but based on the current code I came up with the following: 192851f1196a69fa2af962e1afcedf4cf38d8d78.

I'm not sure whether this will break things as it might be necessary to make the `options` parameter optional in the type definition. I have also not tested this in any way but maybe it is a fair starting point for an implementati

[2021-04-22 10:22] YourPenguin commented on #30
Not running the app native isn't a problem in my earlier project, Xcode works fine with a direct build over lightning cable, as well as android studio.
I doubt that i don't use capacitor correctly because the camera API works just fine.
I am really not able to tell where the difference lies, i compared the source codes, copied the nodes_modules folder etc.

[2021-04-22 11:13] tafelnl commented on #30
Could you share a repo for reproduction?

[2021-04-22 13:02] YourPenguin commented on #30
It's fine now, apparently the only issue was that the package.json file hasn't updated itself so there was no "@capacitor-community/barcode-scanner" under "dependencies"

[code]

This way it is working now, thanks for your time tho!

[2021-04-22 13:02] #30 closed

[2021-04-22 13:14] tafelnl commented on #30
No worries, glad it's working now!

[2021-04-28 13:54] digaus opened #31 "Web/PWA support"
Would be nice if this plugin can have a web implementation so we can use it in PWA apps :)

[2021-04-28 15:36] tripodsgames commented on #31
At this moment im using this library for PWA: https://github.com/zxing-js/library

[2021-05-07 09:41] diadal commented on #23
any update on this or any background fix to support cap3

[2021-05-07 10:01] milanharia opened #33 "feat: add configurability to just pause the scanner (while keeping the view open) on scan rather than destroying it."
Right now the current implementation of the scanner is to automatically destroy it for battery and performance reasons. In the source code there is currently a destroy function which dismantles the camera and hides the viewfinder. It would be great if we could configure this functionality to just pause the scanner when a barcode is scanned, and to keep the camera viewfinder open, something like th

[2021-05-07 10:12] kadenn commented on #23
I think it is possible to update the plugin to cap3 using this guide: https://capacitorjs.com/docs/v3/updating/plugins/3-0

[2021-05-07 10:21] diadal commented on #23
have tried no luck can you give it a try @kadenn

[2021-05-07 11:51] diadal commented on #23
@kadenn  so far https://github.com/diadal/barcode-scanner but not working keep getting this error `Error: "BarcodeScanner.prepare()" is not implemented on ios`

[2021-05-07 12:17] tafelnl opened #34 "feat: Add support for toggling torch"
I should look into PR https://github.com/capacitor-community/barcode-scanner/pull/32. Then add support for iOS. And finally release it.

[2021-05-07 12:21] diadal commented on #23
@tafelnl with this doc `https://capacitorjs.com/docs/v3/updating/plugins/3-0` i believe there should be quick fix for cap3 can you please check am not good at swift

[2021-05-07 12:22] diadal commented on #23
check https://github.com/diadal/barcode-scanner

[2021-05-08 04:56] diadal commented on #23
@tafelnl any idea of the time frame

[2021-05-08 07:16] tafelnl commented on #23
I will look into it this weekend. Should probably land may 11th

[2021-05-10 08:28] tafelnl commented on #33
Fair enough. Will look into it while developing continuous scanning mode.

[2021-05-10 12:15] hellokingdom commented on #33
@tafelnl continuously scanning barcodes would be great and to @milanharia point it would be useful to have the ability to set a cool down time between scans (i.e how long before the scanner becomes active).

Would also be useful to expose a method which can be used to distinguish between the scanning being 'active' or 'paused' to allow fine control over the UI overlay the user is shown between suc

[2021-05-10 13:10] tafelnl commented on #33
@hellokingdom active/pause event is indeed essential I think. However I do think a cool down timer would be a little out of scope for this project. It wouldn't be to difficult to implement such a thing in JS however, with a simple timeout for example.

[2021-05-11 05:57] Cannonb4ll commented on #23
@diadal Please stop spamming this thread. This is and remains an opensource package and @tafelnl is doing what he can. Wait for him to resolve this issue patiently.

If you are in a rush, fix it yourself and submit a PR.

[2021-05-11 08:25] hellokingdom commented on #33
@tafelnl Yeah that makes sense. If we have events for pausing and activating the scanner we can keep the UI logic in the JS layer where it belongs.

[2021-05-12 12:31] tpharaoh opened #37 "Scanning with Android off a secondary LCD screen"
**Describe the bug**
This is not really a bug, but the best description I can give. I have a small IOT with LCD screen, which shows a pairing QR code. In IOS it scans immediately, no issues.

In Android, the scanner opens but it doesn't read the code. Obviously refresh rate may be affecting it. When I scan off my monitor, no problem.

**To Reproduce**
It seems strictly related to the refresh on th

[2021-05-12 13:28] tpharaoh commented on #37
one suggestion from a colleague was if I can reduce resolution of camera, is there a was to do that?

[2021-05-13 05:24] tpharaoh commented on #37
https://github.com/bitpay/cordova-plugin-qrscanner/issues/347

https://github.com/bitpay/cordova-plugin-qrscanner/issues/304

https://github.com/bitpay/cordova-plugin-qrscanner/issues/99

Seems its not related to the refresh at all, but rather to the color. I'll speak with the guy who wrote the firmware see if we can invert our code.

[2021-05-13 09:58] tpharaoh commented on #37
So, those posts were the key, I contacted the guy who made the FW in our division, and we inverted QR and it worked...

[2021-05-13 09:58] #37 closed

[2021-05-14 20:48] paulburz commented on #26
https://www.youtube.com/watch?v=8GXfjDUCYjU
Here's an ionic example I used as well :)

[2021-05-17 08:01] tafelnl commented on #23
I am so sorry guys. My laptop broke down, so I could not work on this project for a while. I am making progress however, so it's coming real soon!

[2021-05-17 08:13] diadal commented on #23
sorry to hear @tafelnl since @Cannonb4ll believed I was spamming I try to work on a supported version for cap3 to do what I needed for my project am working on, this only works on ios the code were different from yours so I cant submit PR you can check https://github.com/diadal/barcode-scanner3 it may be of help.

To have both android & iOs under the same package it better

maybe you can add a Spo

[2021-05-19 15:58] hussainarthuna commented on #23
Hey looking forward for a new update as the V3 has been released and I waiting on this package to be updated so that I can upgrade my Application. Thank you.

[2021-05-19 18:48] e109923 commented on #23
Every day I check this page... I need to updateeee :)

[2021-05-19 18:55] tafelnl commented on #23
Please be patient guys. I just got a new machine to work on and installed everything. So I am up and running again. I just have to finish off a little bit of work. I have given this issue a high priority on my to do list.

New ETA: 23th of may.

[2021-05-20 02:54] quangpdt commented on #23
Thanks @tafelnl for the good news. Btw, I made a fork to upgrade your plugin for compatibility with Capacitor v3. Unfortunately, it's only for iOS though (We're only working with iOS platform), but you can use that for reference, I would not create PR for this

https://github.com/mobiliarmad/barcode-scanner

[2021-05-21 13:36] zirlman opened #38 "BarcodeScanner is undefined"
I'm trying to integrate this plugin into an Nx Workspace Capacitor monorepo. I've followed the described instructions on this repo, but with no success

Bellow you can see my configuration based on instructions from [here](https://nxtend.dev/docs/capacitor/getting-started/#adding-capacitor-plugins):
[code]

MainActivity
[code]

AndroidManifest
[code]

I've tried several times to sync, clean & buil

[2021-05-21 13:46] tafelnl commented on #38
I am not familiar with Nx Capacitor. But it looks like an issue unrelated to this package. I think something is wrong with your config. Did you successfully install other packages?

[2021-05-22 08:44] zirlman commented on #38
I didn't have the need to install community plugins until now. However, I've used the core plugins without any issues

[2021-05-24 11:37] tafelnl commented on #23
I have very good news for all of you! I just released an alpha version with full support for Capacitor 3: https://github.com/capacitor-community/barcode-scanner/releases/tag/2.0.0-alpha.0

Would you please try it out and report back to me in this issue? That way we can validate that no bugs / issues are present. If nobody experiences any problems, I will release it to production ASAP.

[2021-05-24 13:44] bolchowka commented on #23
The updated version doesn't seem to work for me.

Here's my module version from `package.json`:
[code]

Here's my import:
[code]

And here's my code:
[code]

The promise neither resolves nor rejects. It hangs indefinitely. No UI is displayed to start scanning. `checkPermission` method returns `{neverAsked: true}`.

[2021-05-25 08:13] bolchowka commented on #23
I've done some debug in `Plugin.swift` and I can't tell why the scanner doesn't appear. Camera permissions are fine (`{"granted":true}`) and the plugin code reaches the final place where the scanning should start:
[code]
However, nothing happens.

I suspect it might be connected with the opacity of my webview. Quoting README:

I do use `BarcodeScanner.hideBackground()`, but maybe there's anything

[2021-05-25 08:20] diadal commented on #23
@tafelnl really need to check
https://github.com/mobiliarmad/barcode-scanner
and
https://github.com/diadal/barcode-scanner3

the way ios13 above and cap3 handle thing really different also I will guest you create a different branch for cap3

[2021-05-25 08:34] tafelnl commented on #23
@bolchowka You could check out these issues: https://github.com/capacitor-community/barcode-scanner/issues/26 and https://github.com/capacitor-community/barcode-scanner/issues/7

Those issues provide some more information on hiding the background

[2021-05-25 08:42] tafelnl commented on #23
@diadal I am really not sure what you mean. I test on iOS 12.x and 14.x and both verified working. I already created different branches.

Please read the upgrade guide here: https://github.com/capacitor-community/barcode-scanner/releases/tag/2.0.0-alpha.0

[2021-05-25 08:58] tafelnl commented on #38
I will close this issue since it is highly likely it is an issue with Nx Workspace as said here https://github.com/nxtend-team/nxtend/issues/469#issuecomment-843186597

If you think different, please do not hesitate to reopen.

[2021-05-25 08:58] #38 closed

[2021-05-25 09:15] bolchowka commented on #23
That was it. Playing with opacity on `html` and `body` elements helped. Thank you!

[2021-05-27 13:57] tafelnl commented on #26
Closing this issue since the docs are a little more elaborate now and also references this issue and #7

[2021-05-27 13:57] #26 closed

[2021-05-28 07:09] phoenix503 opened #39 "Add Support for Capacitor 3"
**Describe the bug**
`Compiling for iOS 11.0, but module 'Capacitor' has a minimum deployment target of iOS 12.0:`

**To Reproduce**
Steps to reproduce the behavior:

Add same package to any project and try doing ng build
after
npx cap sync
npx cap open ios
Run Project a error will come as above

- OS: iOS
- Version 14

[2021-05-28 07:26] tafelnl commented on #39
Duplicate of #23

[2021-05-28 07:26] #39 closed

[2021-05-28 07:29] phoenix503 commented on #23
This issue is coming to me
`Compiling for iOS 11.0, but module 'Capacitor' has a minimum deployment target of iOS 12.0:`
@tafelnl  please check
Have you fixed it ?

[2021-05-28 07:50] tafelnl commented on #23
@phoenix503 Please read through this issue. If you are using or want to use Capacitor 3.0 this is migration guide is a guide start: https://github.com/capacitor-community/barcode-scanner/releases/tag/2.0.0-alpha.0

If you want to use Capacitor 2.x please install v1.x of this plugin

[2021-05-28 08:21] adolfie450 opened #40 "NPM Installing seems to remove Fontawsome-free css"
I have installed this plugin via Npm, and it seems to uninstall the FontAwsome-free modal,

After i install this modal, i have to rerun the npm to install the fontawsome-free package, could this be right ?

[2021-05-28 08:41] #40 closed

[2021-05-28 09:20] tafelnl commented on #37
I confirmed that only iOS is able to scan inverted barcodes right now. Did some research and found a way to make Android also support inverted barcodes. Will release a version with support for this sometime soon. So stay tuned!

[2021-05-28 09:22] tafelnl opened #41 "[android] feat: add support for inverted barcodes"
On iOS inverted barcodes (white dots on black background) are recognized. Android can and should support this too.

I found a way too support this:

`mBarcodeView.setDecoderFactory(new DefaultDecoderFactory(null, null, null, Intents.Scan.MIXED_SCAN));`

[2021-05-31 08:49] tafelnl commented on #23
`alpha` has over 150 installs on NPM and problems seem to be detected so far. So I think we can be safe to publish this to production by 2th of June.

[2021-05-31 13:10] JZubero commented on #23
@tafelnl Great work on Capacitor 3 support :clap: Works pretty smooth for us so far (tested with Android + iOS).

One thing is odd, though. The `scan` method has one mandatory parameter (object), which may be empty since the only property of the parameter object (`targetedFormats`) is optional. May I ask what the intention behind the mandatory but possible empty param object is?

[code]

Furthermo

[2021-05-31 13:38] desbrowne commented on #23
@JZubero I also noticed the issue with the formats.

@tafelnl the targetedFormats field in definitions.ts is type `[SupportedFormat]`, which means a one element array. It seems that the type should be `SupportedFormat[]`?

[2021-05-31 13:50] tafelnl commented on #23
@JZubero @desbrowne You are correct. I just fixed the types in `v2.0.0-alpha.1` and released it to npm

[2021-06-01 07:48] elvisgraho commented on #23
Hi, im using ```v2.0.0-alpha.1``` in my ionic app (capacitor 3). It works, but I have the opacity issues (the scanner does not appear), what is the way to fix it?

[2021-06-01 08:19] tafelnl commented on #23
Please take a look at the docs here: https://github.com/capacitor-community/barcode-scanner#the-scanner-view-does-not-show-up

[2021-06-01 10:57] parnanzio opened #43 "feat: add support for continuous scanning (multiple barcodes in one go)"
Is there a way to scan multiple QR codes at once?

[2021-06-01 11:52] tafelnl commented on #43
Do you mean multiple qr-codes at once? Or just continuous scanning without closing the camera inbetween?

[2021-06-01 12:09] parnanzio commented on #43
Continuous scanning without closing the camera.

[2021-06-02 09:03] tafelnl commented on #43
There is no way yet. But it is on the roadmap. Related issue #33

[2021-06-04 13:14] tafelnl commented on #23
Just released `v2.0.0`. More info: https://github.com/capacitor-community/barcode-scanner/releases/tag/v2.0.0

Closing this issue now.

[2021-06-04 13:14] #23 closed

[2021-06-07 06:57] iampapaisarkar commented on #43
yes you can, simply do this
![2021-06-06](https://user-images.githubusercontent.com/50805880/120972692-a3f42480-c78b-11eb-8b4d-11f282dde481.png)

call scan function after get result

[2021-06-10 08:26] JZubero opened #45 "Empty response object when checking permissions with { force: false } option"
As stated in the docs, it should be possible to check the permissions without triggering the native system dialog:

[code]

While I assumed the `status` const would hold all fields from the `CheckPermissionResult` interface (see below), I am receiving an empty object `{}`. In theory, the empty object **does** comply with the interface typing since all properties are optional but it does not make m

[2021-06-11 08:11] tafelnl commented on #45
Hm, I am not sure what to think about this. It would also, in a strict sense, introduce a breaking change to the API. It could be that people are checking for something like `if (typeof status.granted !== 'undefined')`. So if we decide to change it, it should be done with the next major release.

The way of handling is a more common pattern found in other libraries as well. I agree with you that i

[2021-06-11 12:44] taseo opened #46 "openAppSettings() throws an error"
Calling `openAppSettings()` throws and error

[code]

**Version**
- v2.0.0

**Smartphone**

- OS: Android 8.0.0

[2021-06-11 14:32] #46 closed

[2021-06-11 14:35] tafelnl commented on #46
Fixed in `v2.0.1`

[2021-06-12 08:58] tafelnl commented on #45
Yes you are correct about the first three things.

Regarding the fourth point: only `asked` will never be set with `force: false`. `restricted`, `neverAsked` and `unknown` can actually always be returned.

So as long as `result.denied` is not set or false, you should be able to re-request the permission. Additionally you can use the other parameters to determine whether you want to show a message

[2021-06-14 08:14] JZubero commented on #45
Yes, I'd say so. A little more information about this could help to prevent any confusion :+1:

[2021-06-29 13:42] avnish90 opened #48 "Obtain image after scan"
Is it possible to obtain the image of the barcode, along with the extracted text?

[2021-06-29 14:14] tafelnl commented on #48
No, not at this moment. What use case do you need this for exactly?

[2021-06-30 08:10] tafelnl commented on #17
Closed by #51 (874466cdf35334319290f3c49fe3ae79e20b368f)

[2021-06-30 08:10] #17 closed

[2021-06-30 08:53] tafelnl commented on #41
Closed by #53

[2021-06-30 08:53] #41 closed

[2021-06-30 13:49] danielberebel commented on #48
You can print it with another plugin.
 I use ngx-barcode6  to print as hidden canvas and parse it to dataUrl

[2021-07-01 10:58] oneclickwebstudio opened #55 "Output scanned format in BarcodeScanner.startScan()"
**Is your feature request related to a problem? Please describe.**
What would be the right way to output format after scan result received?

**Describe the solution you'd like**
I have added `found.type` to `PluginCallResultData()` but it prints smth like `"type":"org.gs1.EAN-13"`
[code]

**Additional context**
How can we convert `fount.type` to format as described in documentation?

<table>
  <th

[2021-07-01 11:01] oneclickwebstudio commented on #48
What if QRCode have been scanned? it'll fail?

[2021-07-01 11:21] danielberebel commented on #48
By default it shows barcodes as GS1 CODE-128, check it on [his github page](https://github.com/efgiese/ngx-barcode6).
If you need show qr codes I think you need add other plugin for render it, but like [ngx-qrcode](https://github.com/techiediaries/ngx-qrcode) that works similar too.

[2021-07-01 13:31] oneclickwebstudio commented on #55
Now i realised it as

[code]

[2021-07-05 09:16] parnanzio commented on #10
Did you find any solution to limit the scan to a given area?
In the `example` folder of this repo there is a `scan-area-layout` html page: is it useful for this purpose?

[2021-07-06 11:14] tafelnl commented on #10
Unfortunately no. The `scan-area-layout` is an example of how to style the `BarcodeView` only. The actual scan target area won't change. I am still not sure how to change the target area

[2021-07-08 08:36] czabaj opened #57 "Using Yarn workspaces results in: Error: method not available in web"
**Describe the bug**
All methods yield just `Error: method not available in web`.

**To Reproduce**
Use ~~any~~ methods of the plugin.
EDIT: I'm using just `prepare`, `hide/show-Background` and `startScan` methods.

**Version**

I'm using Capacitor.js@2.4.7 and @capacitor-community/barcode-scanner@1.2.1, here is the full list of `yarn cap doctor`

[code]

**Desktop (please complete the following i

[2021-07-09 06:41] Saqib92 commented on #57
i think this plugin only works for Android / IOS. and web is not supported yet.

[2021-07-10 02:19] pumpkin-zbh commented on #57
same question.

[2021-07-10 07:27] tafelnl commented on #57
Web is not supported indeed. But it looks like you are trying to run it in a native environment anyway.

Did you succeed in installing and running any other plugin?

You can check #30 which is a similar issue. If you still encounter problems, would you be so kind the share a repo to reproduce this issue, so we can take a closer look.

[2021-07-12 02:53] czabaj commented on #57
Yes, I test the mobile implementation, the usage of the web implementation is simply the issue here. I've read the #30 and tried to reinstall the project many times - still no success. Might the Yarn workspaces be an issue? I might try no-hoist the package 🤔

Anyway, just tested the [PhoneGap Plugin BarcodeScanner](https://github.com/phonegap/phonegap-plugin-barcodescanner) and it works like a cha

[2021-07-12 04:22] josuelmm opened #58 "Change scanner layout"
Good morning, it is possible to change the layout of the scanner, to add a logo.

[2021-07-12 05:33] tafelnl commented on #57
Would you be able to, instead of sharing the whole repo, share a minimal reproduction repo (with any confidential code stripped out)

[2021-07-12 05:38] tafelnl commented on #58
Yes this is certainly possible.You need to create your own camera overlay using css and html inside the scanner-ui div.
https://github.com/capacitor-community/barcode-scanner/blob/main/examples/scan-area-layout/index.html

[2021-07-12 05:38] #58 closed

[2021-07-12 12:42] czabaj commented on #57
Sorry, this demands at least an hour to set up and test that it (don't) work and I'm short on time. I switched to the [PhoneGap Plugin BarcodeScanner](https://github.com/phonegap/phonegap-plugin-barcodescanner) which works nicely. I would love to help you with the issue, but I cannot promise you any help in the foreseen period of time, so I rather not promise anything.

I thought the problem will

[2021-07-13 09:12] #45 closed

[2021-07-13 09:25] tafelnl commented on #57
My best guess it would be that the Yarn workspaces are the issue here indeed. I am not sure what exactly could be going wrong. If anyone every encounters a similar problem and finds a solution, please share :)

[2021-07-13 09:31] JZubero opened #59 "Roadmap for this project?"
First of all, many thanks to @tafelnl  for the good work on this module :clap: :bowing_man: :rocket: :beers:

Currently this module is probably the only reliable option, since the [old Cordova module repo](https://github.com/phonegap/phonegap-plugin-barcodescanner) has already been archived and the pure web-based solutions (e.g. [zxing-js](https://github.com/zxing-js/ngx-scanner)) are not really s

[2021-07-13 13:05] tafelnl commented on #48
So if I understand correctly you want to generate a QR-code? I think that is outside the scope of this package. There already are several good QR generator libraries for JavaScript. To name a few:

- https://github.com/davidshimjs/qrcodejs
- https://github.com/soldair/node-qrcode
- https://github.com/kciter/qart.js
- https://github.com/kazuhikoarase/qrcode-generator
- https://github.com/SumiMakito

[2021-07-15 07:17] call-me-adas opened #60 "Error: "BarcodeScanner" plugin is not implemented on android"
**Describe the bug**
After i follow configurations steps and running it both on device and emulator i get error ```Error: "BarcodeScanner" plugin is not implemented on android```

**Version**
2.01

[2021-07-15 07:37] tafelnl commented on #60
Please try debugging a little more. If you really cannot get it to work, please share a repo to reproduce the issue. Otherwise I cannot help you.

[2021-07-15 07:37] #60 closed

[2021-07-17 23:19] jdiaz49 commented on #59
First of all, thank you very much for this excellent plugin, it has been very helpful for a feature of the app I'm working on.

Currently we need to use the flashlight and the cordova plugin I use conflicts with barcode scanner.

If this functionality of the flashlight is implemented in barcode scanner it would be excellent because it would not need another plugin.

It would be great to know when

[2021-07-21 00:28] mozolev commented on #57
I also ran into this issue, however, we do not use Yarn in our project😕

[2021-07-21 10:28] tafelnl commented on #57
@mozolev It is very likely that this issue is being caused by some configuration issue. Either being yarn or something else.

That means it is probably not caused by this library itself. Steps on resolving this issue:

- First check that you are using the correct version: https://github.com/capacitor-community/barcode-scanner#note-on-supported-capacitor-versions
- Try installing any other plugin w

[2021-07-22 16:08] gabriel-arrvda commented on #60
i had the same error when i was updating my capacitor to v3 and i deleted the whole code inside the class MainActivity on `MainActivity.java`

[2021-07-22 16:40] tafelnl commented on #60
This comment might help you: https://github.com/capacitor-community/barcode-scanner/issues/57#issuecomment-884080027

[2021-07-22 16:43] gabriel-arrvda commented on #60
well i forgot to say that after i deleted that part of code it works, sorry my fault

[2021-07-22 23:41] blatoo opened #61 "WebView transparent in react"
**Describe the bug**
I want to use this QRCode Scanner with react, and tried on the Android, but it doesn't popup the scanner view. I searched the problem, it should be the Webview transparent problem...But I didn't find the solution for Ionic React

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The Scan View should coming, but it doesn't! But I got notice from An

[2021-07-23 03:45] Zwimber commented on #59
It [seems](https://github.com/capacitor-community/barcode-scanner/issues/34) to be priority 2. I assume that means that it is on the roadmap. Not sure when it'll be completed. If you look at the mentioned pull request you can try and install that version to get it working with the flashlight.

[2021-07-23 05:52] #61 closed

[2021-07-23 05:52] tafelnl commented on #61
Please try debugging it like this: https://github.com/capacitor-community/barcode-scanner#the-scanner-view-does-not-show-up

[2021-07-23 18:10] mani-96 opened #63 "feat: add support for using different cameras"
Need ability to flip camera. Currently only back camera is opened that scans. Can some way be provided so that we can toggle between front or back camera programmatically.

[2021-07-24 12:18] tafelnl commented on #59
Quick update: I updated the priority labels on the different issues. Priority 1 issues are either important or easy to fix. These will be implemented in ~1 month. Priority 2 labels I cannot say for sure now. But I'll try to fix it in ~2 months. I am very busy right now, so any help is very welcome!

[2021-07-28 00:02] jameshhood commented on #55
I was just looking through all the documentation to see how to achieve this and glad I came across this. I have to support a few different types of barcodes and this would be fairly handy for validation. Thanks

[2021-07-28 16:26] TOTOTO06 opened #65 "Problem with startScan : class member cannot have the keyword 'const', ts (1248)"
import { Component } from '@angular/core';

import { BarcodeScanner } from '@capacitor-community/barcode-scanner';

@Component({
  selector: 'app-tab2',
  templateUrl: 'tab2.page.html',
  styleUrls: ['tab2.page.scss']
})
export class Tab2Page {

  constructor() {}

  const startScan = async () => {
    BarcodeScanner.hideBackground(); // make background of WebView transparent

    const result = a

[2021-07-29 09:51] tafelnl commented on #65
This error is not actually related to this plugin. It is how TypeScript works in general. You should read up more about and try to get familiar with it, before going on with the implementation of this plugin. A good start would be for example reading this: https://stackoverflow.com/questions/36142879/const-keyword-in-typescript/41742589

[2021-07-29 09:51] #65 closed

[2021-07-30 05:35] denisLoncaric commented on #10
I also think using `DecoratedBarcodeView` could be possible as it already includes the frame ([ViewfinderView](https://github.com/journeyapps/zxing-android-embedded/blob/master/zxing-android-embedded/src/com/journeyapps/barcodescanner/ViewfinderView.java)).

I am not sure if this is even an option (really not so experienced), but would it make sense to extend ViewfinderView in this plugin to add a

[2021-08-04 12:50] denisLoncaric opened #66 "Android 11 permission "Ask every time" doesn't prompt the user to give camera permission again"
**Describe the bug**
On android 11 there is a possibility to set the camera permission to "Ask every time". In case this permission is set plugins checkPermission method returns status denied set to `true`, only if user sets the permission manually to "Allow only while using the app" in Settings -> Apps -> [app] it is possible to scan the codes again. The issue appears after the device goes to sle

[2021-08-08 13:31] thequailman opened #67 "Jest Issue - ReferenceError: capacitorExports is not defined"
**Describe the bug**
When I test against a module using this plugin, jest throws an error after the import statement:
[code]

**To Reproduce**
Run jest against a module using this plugin

**Expected behavior**
No error from jest, I don't test this plugin using it.

**Version**
2.0.1

[2021-08-08 13:37] thequailman commented on #67
Temporary workaround:

**jest.config.js**
[code]

**src/jest/noop.ts**
[code]

[2021-08-08 23:19] blatoo commented on #61
Hi tafelnl, I did the debugger and find the problem in react, so I did a detailed youtube video for people who has later the same problem.

https://youtu.be/6sxwMfNyJiI

Thanks so much for this great plugin and eagerly waiting for web implementation!

[2021-08-09 05:09] pwespi commented on #67
Probably related to https://github.com/ionic-team/capacitor/issues/3972, https://github.com/capacitor-community/bluetooth-le/pull/14

[2021-08-16 12:47] ADMIADev opened #69 "Use IntentIntegrator for better 1D Performance"
While Testing this plugin for our application i found out that the performance for 1D Barcode. (Code-39) is not as good as in our old nativ application. Both use the zxing libarary. The difference is in our old app we use IntentIntegrator to show the Scanner.
I implemented IntentIntegrator into this plugin if you are interrested. Also the torch would be easier with IntentIntegrator and the backgor

[2021-08-17 16:59] GeorgiyZhuravlev opened #70 "Make use of Capacitor's `Camera.requestPermissions()`"
First of all - Cool plugin, thank you!

I was playing a bit with permissions and found that if access to camera once granted by the official Capacitor Camera plugin, then no need to ask again - yours works just fine.
Even more, this line in manifest becomes optional then:
[code]
I played more, and found that it would be even more convenient to use "consent popup" shown by `Camera.requestPermission

[2021-08-18 13:10] ec-lmayr opened #71 "[Android] Permission Request resolves immediately"
The promise when requesting the permission status / request always immediately resolves without waiting for the user input.

**To Reproduce**
If requesting the permission like below, `statusRequest.granted` will never be `true`, as the `checkPermission` promise resolves immediately.
[code]
**Expected behavior**
The `await BarcodeScanner.checkPermission({ force: true })` should only resolve when th

[2021-08-18 13:59] tafelnl commented on #71
I am not sure what you mean. Would you be able to elaborate? If I am calling that method with those parameters it will request the permission. It would be possible that indeed the permission is not requested, but then `result.denied` should be set to `true`. So you could check that.

Also which Android version are you using?

[2021-08-18 14:05] ec-lmayr commented on #71
The issue is that `await BarcodeScanner.checkPermission({ force: true })` resolves immediately, when it should wait for the user until he or she chooses an option in the native dialog.
It just returns the state of the permission, not the updated state, after the user has chosen.
Is this more clear?

[2021-08-18 14:06] tafelnl commented on #70
Do you mean that this plugin only allows for requesting the permission by redirecting the user to the app settings? Because that is not the case.

As stated in the [docs](https://github.com/capacitor-community/barcode-scanner#permissions), you can request permissions through the [`checkPermission`](https://github.com/capacitor-community/barcode-scanner/blob/main/API_REFERENCE.md#checkpermission) m

[2021-08-18 14:06] #70 closed

[2021-08-18 14:09] tafelnl commented on #69
Using the `IntentIntegrator` prevents us from being able to overlay the ScanView with the WebView. This, in turn, prevents us from being able to style the Barcode Scanner using the WebView. This is a major feature of this plugin. So I am not going to replace it with the `IntentIntegrator`. But we could consider it as an extra feature, although that adds major complexity. So that makes it a long te

[2021-08-18 14:09] tafelnl commented on #69
But feel free to open a PR that adds this functionality.

[2021-08-18 14:40] tafelnl commented on #71
Hmm, I should try to reproduce this. Please give me some time to figure this one out.

[2021-08-18 14:41] ec-lmayr commented on #71
sure, thanks for your help!

on more thing: this is only relevant the first time.
"User has never used the camera inside the app, then allows it."

[2021-08-18 15:13] tafelnl commented on #71
What do you mean by that?

[2021-08-18 15:15] ec-lmayr commented on #71
that it's only a relevant problem if the user has never been asked. and only for the flow "never asked" -> "user allows it"

because if it is denied/allowed already, there is no async process going on.

[2021-08-19 14:15] ADMIADev commented on #69
Okay makes sense i will create a pull request with the IntentIntegrator functionality.

[2021-08-19 14:15] #69 closed

[2021-08-20 09:09] nasaleanhorea commented on #67
same issue here , all jest tests are failing

[2021-08-21 07:12] arnotixe commented on #59
I'm very interested in this feature, as my users work in construction and scan stuff where lighting is poor / no lighting… Maybe not the best place to ask, but what is the best way to install the feat/torch branch via npm somehow?

I googled and found this, that kind of works:

npm install git://github.com/capacitor-community/barcode-scanner#feat/torch

Only smallish problem is it has no dist/ fol

[2021-08-21 07:39] arnotixe commented on #34
I'm very interested in this :)

Found out I can npm install git://github.com/capacitor-community/barcode-scanner.git#feat/torch
and then check out the repo elsewhere and build the library + copy in the resulting dist/ folder

Works on Android! (can only turn ON though, for some reason, turning off is a no-go :thinking: )

[2021-08-24 12:59] BC-M commented on #71
Got the same issue. I tested it with a Xiamo Mi A2 Lite and Android 10.

Like @ec-lmayr said, the promise returns immediately a empty object until the user pressed "never ask again". On iOS, the function works as desired.

[2021-08-24 13:56] diesieben07 commented on #66
The cause of this is the (unfortunately apparently very common) misuse of the `shouldShowRequestPermissionRationale` method. It is used to detect the difference between "denied for now" and "denied forever", which is _not its function at all_.

Capacitor itself also makes this wrong assumption about the return value of this function: https://github.com/ionic-team/capacitor/blob/17a73ff60b3e0e1807d

[2021-08-24 16:17] arnotixe commented on #10
In my experience, it seems the scanning happens near the center, like in @ionic-native/barcode-scanner/ngx . See screenshot below. I'm not saying it definitely is both on android and iOS, because I think it also works at least halfway out of the box.

Personally I actually think it is a good thing we can (must :wink: ) write our own UIs for scanning. But it would be awesome to have a boilerplate /

[2021-08-24 16:23] arnotixe commented on #10
Thanks for pointing that example folder out! I already wrote my own before I saw this issue :stuck_out_tongue:

It should definitely be mentioned in the Install instructions that you need to write your own UI, with a link there.

My idea for "limiting scan area" would be to just make the transparent area all black opaque :) But it wouldn't actually prevent a successful scan to take place if the co

[2021-08-25 16:19] arnotixe commented on #34
Just found out how to fix the torch on/off and created PR https://github.com/capacitor-community/barcode-scanner/pull/73

[2021-08-29 07:16] arnotixe commented on #34
Retired the previous PR and created the branch-clean https://github.com/capacitor-community/barcode-scanner/pull/75
feat/torch now would support both android and iOS.

[2021-09-02 08:21] memic84 opened #76 "Examples / Demo?"
Are there any resources / examples / demo's to test this app out?
Or maybe a list with apps that are built with this barcode-scanner, and are public?

... or maybe a simple APK for android, just to see it in action.

[2021-09-02 18:04] JustCallMeMarly commented on #76
Here is an example i've found https://www.youtube.com/watch?v=8GXfjDUCYjU&t=840s
I hope this helps!

[2021-09-03 13:52] memic84 commented on #76
Thanks!

[2021-09-03 13:52] #76 closed

[2021-09-06 15:16] wash-dev opened #77 "Not scanning barcode on android"
**Describe the bug**
I was trying to scan a barcode in android but not reading it at all. Sometimes I can scan but it takes several seconds to read the barcode.

Here is my code:

import { Component, AfterViewInit, OnDestroy, ChangeDetectorRef } from '@angular/core';
import { AlertController } from '@ionic/angular';
import { BarcodeScanner } from '@capacitor-community/barcode-scanner';
import { Mo

[2021-09-08 06:36] ADMIADev commented on #77
the performance with barcodes is not very good.
you can try out my pull request where its using the intergrator view which has better performance for barcodes.

[2021-09-08 18:18] wash-dev commented on #77
@ADMIADev I'm still having trouble scanning barcodes. Could you please recommend some other plugin that is better for scanning barcodes?

[2021-09-09 06:05] ADMIADev commented on #77
you could try implementing google ml for barcode scanning.
https://developers.google.com/ml-kit/vision/barcode-scanning

[2021-09-09 18:40] mike-cao commented on #67
Is it just me or is anyone else experiencing this error when running their web app in general and not just with Jest? It used to be fine (as far as I know as it was working before) but perhaps some code updates I've recently made in my project seems to have caused my build (Ionic 5, Capacitor 3, Angular 12 with SSR) to get the "capacitorExports is not defined" message when compiled. As a temporary

[2021-09-10 06:30] tolutronics commented on #71
The permission dialog is not executed the next time the app is launch even when the user chooses ONLY THIS TIME permission

[2021-09-10 10:52] dkliemsch commented on #59
I've just created a new PR based on the latest code from the main branch adding the ability to enable, disable and toggle the torch on both android and iOS. There is also a method to get the current torch state.
@tafelnl Would be awesome if you could find some time to have a look and maybe create a new version as installing without a new npm release is really a pain (due to the missing dist folder

[2021-09-15 07:20] NLueg opened #79 "[Android] Crash on App start"
**Describe the bug**
I followed all steps of the installation guide but I can't start the app.
The app directly crashes because of a `FATAL EXCEPTION`.

**To Reproduce**
Steps to reproduce the behavior:

1. Start the app

**Expected behavior**
It should be possible to start the app.

**Screenshots**
![image](https://user-images.githubusercontent.com/48101693/133388399-366b37b6-bd6c-44e7-8625-b5e67

[2021-09-15 07:52] NLueg commented on #79
It turns out it was an issue with my configuration as I included a dirty hack for the old PhoneGap plugin 🤦🏻‍♂️ sorry ....

[2021-09-15 07:52] #79 closed

[2021-09-22 13:13] HunSpeedi opened #80 "Issue when scanning a GS1-128 barcode"
**Description of the bug**
When I process a GS1 DataMatrix like this one:
https://barcode.tec-it.com/en/GS1DataMatrix?data=0105000456013482172012001000001%5CF210000000003
I get the following result: `\u001d0105000456013482172012001000001\u001d210000000003`
The **\F** (FNC1) terminator is recognized and the **\u001d** character is added between values.
However when I do the following with a GS1-128

[2021-09-24 09:38] ec-lmayr commented on #59
i think it would suffice to add a prepare npm script to build the package.
like here:
https://github.com/ec-lmayr/barcode-scanner/commit/71399f0282ba7aa59966e1df794cd77cf6aae99f

the you can install from github.

[2021-09-26 19:19] sagecoretech opened #85 "UPDATE DOCS - FIX FOR Module '"@capacitor-community/barcode-scanner"' has no exported member 'BarcodeFormat'."
I fixed using

`import { BarcodeScanner, SupportedFormat } from '@capacitor-community/barcode-scanner';`

and

` const result = await BarcodeScanner.startScan({ targetedFormats: [SupportedFormat.QR_CODE] });`

Figured i would help community and submit this. It does seem to have a direct impact on performance to only be scanning for the supportedFormat wanted.

[2021-09-26 19:37] tafelnl commented on #85
What exactly is your question/bug report? Targeting only specific formats is already mentioned in the docs here: https://github.com/capacitor-community/barcode-scanner#target-only-specific-barcodes

[2021-09-26 20:29] sagecoretech commented on #85
Using the documented code to target specific formats throws error on ionic cap sync.

See below output:

error TS2322: Type '"QR_CODE"' is not assignable to type 'SupportedFormat'.

88    const result = await BarcodeScanner.startScan({ targetedFormats: ['QR_CODE'] });

And the resolution is what i originally commented.

[2021-09-27 07:48] #85 closed

[2021-09-27 07:49] tafelnl commented on #85
Closed by #86 . Do you agree?

[2021-09-27 07:54] tafelnl commented on #80
Do you experience this on both Android and iOS? Internally this library makes use of `AVFoundation` for iOS and `zxing` for Android ([read more here](https://github.com/capacitor-community/barcode-scanner#supported-barcodes)). So it might be that the implementation of those libraries is incorrect.

It could also be, that Capacitor somehow messes with these values when sending them from native to J

[2021-09-27 08:10] HunSpeedi commented on #80
I have experienced this on Android. I would guess that the `zxing` library causing the trouble (but ofc you can double-check your implementation as well), should I raise the issue on the page or you will do it?
Many thanks for the fast reply!!

[2021-09-27 09:12] tafelnl commented on #80
If you could raise the issue there, that would be awesome!

[2021-09-27 09:50] #71 closed

[2021-09-30 13:10] m-bagnarelli commented on #43
Hi, any updates on this? :). I really need it

[2021-10-01 13:11] lehnihon commented on #77
Hi, i am having the same problem with barcode, so there is no other alternative to the capacitor right?

[2021-10-04 12:11] ADMIADev commented on #77
did you try out the https://github.com/capacitor-community/barcode-scanner/pull/72 pullrequest i made?
If you then set it to use integrator view in andorid it should work better.

[2021-10-04 17:48] m-bagnarelli commented on #33
Hi, any updates on this? :). I really need it.
@milanharia Could you make it somehow?

[2021-10-19 16:27] prasanthmarimi opened #91 "Issue in adding a stop scan button and adjust the height and width of the camera"
Hi,

I have used the plugin with my capacitor vue project where am trying to implement the barcode scanner. I found this one useful but after adding it, i released that i don't have any option to add a stop scan button over the screen(since camera covers all over the screen). Would be helpful if anyone can suggest me a solution where and how i can add a Stop button and also adjust the height and w

[2021-10-28 12:58] zaynekomichi opened #92 "Flashlight switches off when i start scanning"

[2021-10-28 13:57] #92 closed, assigned to nobody

[2021-11-02 10:39] rulaman123 commented on #33
I have done that. It is possible. Don't know if it's perfect but in my case its working fine.
You have to edit the BarcodeScanner.java (capacitor-community\barcode-scanner\android\src\main\java\com\dutchconcepts\capacitor\barcodescanner\BarcodeScanner.java).

Go to the method "Override public void barcodeResult(BarcodeResult barcodeResult)" and delete
`destroy();`
Then the scanner view will not pa

[2021-11-02 10:58] rulaman123 commented on #43
@iampapaisarkar Yes, you can start the scanner again like that but it is ugly because the view will close and open again. I found a better way. Don't know if it's perfect but in my case it's working fine.

You have to edit the BarcodeScanner.java (capacitor-community\barcode-scanner\android\src\main\java\com\dutchconcepts\capacitor\barcodescanner\BarcodeScanner.java).

Go to the method "Override p

[2021-11-02 20:32] leticiatomasio commented on #67
My workaround was to mock the BarcodeScanner Node.js module globally, similar to @wfairclough's solution.

1. First, I mocked the node module following Jest's instructions (https://jestjs.io/pt-BR/docs/manual-mocks):
2.

2. Then, on my jest.config.ts, I mapped any module reference to the mock path.

[code]

[2021-11-02 20:36] leticiatomasio commented on #67
My workaround was to mock the BarcodeScanner Node.js module globally, similar to @wfairclough's solution.

1. First, I mocked the Node module following Jest's instructions (https://jestjs.io/pt-BR/docs/manual-mocks) inside a __mocks__ directory:

libs/niemeyer/src/jest/__mocks__/@capacitor-community/barcode-scanner.js

[code]

2. Then, on my jest.config.ts, I mapped any module reference to the moc

[2021-11-02 20:54] leticiatomasio commented on #67
My workaround was to mock the BarcodeScanner Node.js module globally, similar to @wfairclough's solution.

1. First, I mocked the Node module following Jest's instructions (https://jestjs.io/docs/manual-mocks) inside a __mocks__ directory:

libs/niemeyer/src/jest/__mocks__/@capacitor-community/barcode-scanner.js

[code]

2. Then, on jest.config.js, I mapped any BarcodeScanner module reference to t

[2021-11-05 11:49] hrafnkellbaldurs commented on #66
I'm also running into this issue, it would be nice to get a solution for this

[2021-11-05 16:13] oldjazjef commented on #60
I know the issue is already closed, but I would like to add some notes.
I got the same error "plugin is not implemented on android".
The reason in my case for this was the used angular "monorepo" project structure.

Capacitor checks package.json for plugins.
Because my ionic project within the monorepo under projects/my-app had a package.json, capacitor used this to check for plugins to include un

[2021-11-05 21:32] leye0 opened #95 "Choosing "Always ask" should always ask for permissions"
Hi!

At this line:
https://github.com/capacitor-community/barcode-scanner/blob/230c0da2cdf373c584a7827811b4451fb5af0a6a/android/src/main/java/com/dutchconcepts/capacitor/barcodescanner/BarcodeScanner.java#L396

There is this comment:
`// user ALSO checked "NEVER ASK AGAIN"`

But are we really checking if user checked "Never as again" or checked "Always ask" ?

I noticed that whenever I choose "Alw

[2021-11-06 02:09] leye0 commented on #95
Oh no, duplicate.

[2021-11-06 02:09] #95 closed

[2021-11-06 02:12] leye0 commented on #66
Same issue here right now. It prevents the app from having a decent UI to handle this use case.

[2021-11-08 14:44] nesha14586 opened #96 "Cannot see camera view on dark mode (showing black screen)"
**Describe the bug**
Whenever I start the scan and show the camera view, on system dark mode, I only get black screen.
On light mode, everything is working fine.

**To Reproduce**
Steps to reproduce the behavior:

1. Change system theme to dark.
2. Start the scanner.

**Expected behavior**
Camera view would show.

**Screenshots**
![IMG_4272](https://user-images.githubusercontent.com/16090791/14076

[2021-11-09 12:29] HunSpeedi commented on #80
I finally had some time to copy-paste the issue for them, let's see.
https://github.com/zxing/zxing/issues/1457

[2021-11-09 14:07] nesha14586 commented on #91
Hi @prasanthmarimi I've put the button in the ion-footer. I'm using ionic/capacitor with angular. Please see below:

[code]

And then in the .ts file, the function is:

[code]

[2021-11-13 19:26] ademirtemur opened #97 "WE NEED TO SWITCHING BETWEEN BACK AND FRONT CAMERA"
We need to control switching between back and front cameras. Please can we review the about PR.

[2021-11-15 15:53] delciopolanco commented on #1
I have the same issue with IOS 14.7.1, I have tested in two different devices iPhone XR and iPhone 6 Plus.

After executing the startScan method,  doesn't open the native camera, not show errors and receive this output in the Xcode console:

![image](https://user-images.githubusercontent.com/20881846/141812232-666f1866-040f-45b8-8eca-ec390cbaaa44.png)

[2021-11-17 07:57] andreagobetti commented on #59
Hi, is there an ETA for the torch capability to be published via npm? I'm trying to add the torch branch via git to my project but it fails the dependency check...

Does this feature need more work or it's ready to be published?

Thanks!

[2021-11-19 08:56] thainvo commented on #34
Are there any plans of adding flashlight support to the plugin in the near future? It'd be a big help in the case of our application and although there are some PRs including these changes, they all concern version 1.2.1 of the plugin, which is incompatible with Capacitor 3.

[2021-11-22 18:13] maelp opened #98 "The view does not show on iOS with Ionic"
**Describe the bug**
I'm using the plugin as described in the README in a Ionic app on an iPhone, and when I'm scanning a code it works (I see the result of the scan displayed) but no view is shown that allows me to see what the phone is pointing at (it stays on my screen, and does not show a camera view)

**To Reproduce**
I'm using the code from the README

[code]

**Expected behavior**
It should

[2021-11-22 18:35] maelp commented on #98
This was because I had to set transparency on some elements

[2021-11-22 18:35] #98 closed

[2021-11-30 14:20] alendosev-jumbo commented on #66
Is this project still maintained?

[2021-12-01 14:48] rulaman123 commented on #96
Same for me in Android. You have to make the body transparent:
`document.body.classList.add('qrscanner');`

in global.css:
[code]

Working for both themes.
After scanning you can remove it:
`document.body.classList.remove('qrscanner');`

[2021-12-09 00:43] NicoP-S commented on #30
@YourPenguin i am faceing the same problem like you did `Error: method not available in web`

Installation:
[code]

src-capacitor/package.json
[code]

I tried your alternative way of importing but BarcodeScanner is undefined.
[code]
https://github.com/NicoP-S/barcodescan/blob/2c70d98ca95ec3aa142497a9a5a27d2f7f445817/src/pages/Native.vue#L7-L34

Have you done anything other then me?
Here is a test

[2021-12-09 10:22] NicoP-S commented on #57
I have the same problem. Using quasar with npm and capacitor.
like @mozolev i get `BarcodeScannerWeb `  and the error `Error: method not available in web`

![image](https://user-images.githubusercontent.com/8988747/145376923-2ef41a10-9fcd-47b0-9383-db6074c1c968.png)

I created a test repo: https://github.com/NicoP-S/barcodescan/blob/master/src/pages/Native.vue
after clone run
[code]
Then android s

[2021-12-13 16:07] jefaokpta commented on #96
Hi guys, i did it in this way:

startScan = async () => {
    console.log('startScan');
    this.isScanning = true;
    const body = document.getElementsByTagName('body')[0];
    body.style.backgroundColor = 'transparent';
...

<ion-content [fullscreen]="true" *ngIf="!isScanning">
...

this worked for me.

[2021-12-15 19:11] nesha14586 commented on #96
Thanks dude, this solves it!

[2021-12-15 19:11] #96 closed

[2021-12-16 22:27] ttruty commented on #43
@rulaman123 solution worked great for me. Thank you

[2021-12-18 23:01] JanMisker commented on #43
@ttruty @rulaman123 check my PR https://github.com/capacitor-community/barcode-scanner/pull/93, solution for iOS and Android similar to how you did it.

[2021-12-19 21:42] cyrushandwriting opened #99 "No exit button once camera is up and scanning. How can I cancel without scanning?"
` await BarcodeScanner.hideBackground(); // make background of WebView transparent

    document.documentElement.style.opacity = '0'; // hideBackground() is not working on iOS

    document.documentElement.style.visibility = 'hidden';

    document.documentElement.style.display = 'none';

    const result = await BarcodeScanner.startScan(); // start scanning and wait for a result

    document.doc

[2021-12-20 18:36] Duarte10 commented on #99
Also, if the user uses the back button, it exits the app, can this be controlled in the BarcodeScanner side to call the stopScan?

[2021-12-28 12:38] Pacjonek commented on #59
Could you elaborate why pure-web based solutions are not really suitable for Capacitor? It seems that WebRTC issue has been solved.

[2021-12-30 09:40] jorrit commented on #66
I am using the `checkPermissions` / `requestPermissions` of the `@capacitor/camera` module to check for permissions and then I use the barcode module to do the scanning.

[2021-12-30 17:53] avinmaster commented on #34
Now I'm using `@ionic-native/barcode-scanner`.

[2022-01-19 16:49] AlexZCP opened #100 "Support laser scanners"
Hi guys!

Can you tell if this plugin support some hardware like laser scanners (etc. in Zebra or Sunme devices).
If not, point me to maybe already existing capacitor plugin?

Thanks much.

[2022-01-19 20:21] braincomb commented on #26
Thanks @tripodsgames , this works great!

Since we are hiding the whole `<body>` tag, do you know if it's somehow possible to apply certain effects, e.g. blur() or opacity, to the whole scanner screen, but leave the centered box overlay normal?

[2022-01-20 14:34] tripodsgames commented on #26
You have to find a way to blur the parent element without affecting the child.
I don't know how to do this :(

[2022-01-21 14:29] djabif opened #101 "Vanilla JS"
Hey, did anyone manage to use this plugin in an Ionic project without any framework (using vanilla javascript) ?

My code is:
[code]

I'm trying it on an android emulator but I can't make the startScan() function to work...
I already tried what is suggested in https://github.com/capacitor-community/barcode-scanner/issues/26

Any help? 🙏🏻
Thanks

[2022-01-26 22:33] DiogoParrinha commented on #99
Hello,

You can follow this: https://github.com/capacitor-community/barcode-scanner/issues/26#issuecomment-808862821

And then apply a scanner ui inside the div:
[code]

and cancelScanning could be
[code]

[2022-01-30 08:16] jehadja commented on #57
@NicoP-S Hi,
mostly you are using documentation for the new version to implement the old version
you are using capacitor v2
https://github.com/NicoP-S/barcodescan/blob/master/src-capacitor/package.json#L11

so you need to use this documentation
https://github.com/capacitor-community/barcode-scanner/tree/release/v1.3.0

fast fix steps need to do
[code]
 in your main activity
[code]
the calling of B

[2022-02-01 20:01] TekiLakshmanSundeep opened #103 "Duplicate class com.google.zxing error"
I'm trying  run the application in my mobile from android studio, While building the application i'm facing the below error.

[code]

[2022-02-06 16:55] mster81 commented on #101
As one who is in the process of converting an app over, I ran into a similar issue ( New to Capacitor here)

Without knowing what you are seeing (errors, no errors etc) what I experienced was

1) Add all manifest settings as per the docs
2) Ran the app (on device) but emulator typically will give you a dummy camera image
3) Noticed the screen went 'gray' from the 'hidebg' call

After further revie

[2022-02-07 09:58] thegnuu commented on #101
@mster81 thank you for pointing out a few details!

@djabif What exactly do you mean with "not work" :) Are you getting any errors or something? Or do you have an example repo which might help to see the exact issue?

By definition this plugin comes without any UI and `hideBackground()` might not be enough in your setup if you have any overlaying div or something which are not transparent...

[2022-02-07 10:06] thegnuu commented on #103
Unfortunately I am not able to reproduce this issue.

Do you have any other barcode plugins installed at the moment in your project? The error is pointing out to `barcodescanner-release-2.1.5` which looks like an .aar of this repo: https://github.com/phonegap/phonegap-plugin-barcodescanner. If so, can you try to remove the phonegap plugin and test it again?

[2022-02-07 10:20] thegnuu commented on #100
I don't think that supporting laser scanners should be part of this plugin since it is a different use case and every vendor uses their own SDKs.

I know about some old cordova plugins providing this function, but they are all based on a specific vendor (which makes sense) and I don't know how well they are maintained. If you can tell me which devices you want to use I might be able to help you fi

[2022-02-07 10:25] thegnuu commented on #99
I will close this issue since the Plugin comes with no UI by definition. This is currently not really well documented and some basic examples would make sense, but I just became a maintainer of this repo and it will take me a while to update the docs and add some examples.

[2022-02-07 10:25] #99 closed

[2022-02-07 10:33] thegnuu commented on #10
I updated this issues to a lower priority since there are a few things open right now which are more important than this one I think, if someone out there is willing to help with this one it would be prefect ;)

Otherwise I will look into your suggestions and maybe find a proper way to add this functionality.

[2022-02-07 10:38] thegnuu commented on #59
As of now, there is no roadmap... I just became a new maintainer of this plugin and I will try to clean up things and merge the open PRs in the coming weeks.

Once I am up2date what have to be done, whats already done and not merged aso. I will try to add some sort of roadmap and plan the additionally wished features.

[2022-02-07 10:44] thegnuu commented on #66
@jorrit solution should do the trick for now, once I cleaned up the open issues and PRs I think it would make sense to use the same logic implemented in `@capacitor/camera` for this plugin.

[2022-02-07 10:57] jorrit commented on #59
Thanks for your effort!

[2022-02-15 09:15] bipoza commented on #10
In case it helps. If you're using React, I've created a little hook that makes it easy to inject components into the scanner view when the scanner is open.

The hook: https://github.com/codesyntax/ionic-react-capacitor-demo/blob/main/src/hooks/useBarcodeScanner.tsx
How to use: https://github.com/codesyntax/ionic-react-capacitor-demo/blob/main/src/native-components/NativeBarcodeScanner.tsx#L23

Exa

[2022-02-22 12:06] sephallen opened #104 "Code 39 scanning is extremely slow on iOS"
**Describe the bug**
Code 39 barcode scanning is very slow on iOS - typically taking around 15+ seconds to scan.
I do not believe this issue to be specific to this plugin as it also happens with https://github.com/phonegap/phonegap-plugin-barcodescanner and https://github.com/bitpay/cordova-plugin-qrscanner. I have forked the latter to work with Capacitor 3 and support Code 39 barcodes which can b

[2022-02-23 15:59] cies commented on #34
Does this do the trick? https://github.com/capacitor-community/barcode-scanner/pull/78

[2022-02-23 16:00] cies commented on #63
See the PR here: https://github.com/capacitor-community/barcode-scanner/pull/78

Hopefully it'll soon be merged.

[2022-02-23 16:27] arnotixe commented on #34
I vote for closing my #75 and accepting #78, as it is more complete and looks like it's written by someone who actually knows swift :)

[2022-02-23 16:31] #97 closed

[2022-02-25 13:08] thegnuu commented on #104
Since the library is using other libraries to do the "real" work (AVFoundation on iOS and zxing on Android) I am not sure if there is much we can do here. 2D Barcodes are not really designed to be scanned by a camera so reading those codes based on an image is harder than scanning for example a QR code.

I am new maintainer of this library and need to check it out first, maybe there are some ways

[2022-02-25 15:29] sephallen commented on #104
@thegnuu much appreciated! I'll keep looking for solutions elsewhere and I will report back if I find anything. The curious part is that other plugins utilising AVFoundation on Ionic 3 don't appear to be affected which leads me to believe that this may be more of an Ionic 5+ issue.

[2022-02-25 15:34] thegnuu commented on #104
It might absolutely be possible that there is an issue somewhere! As I said, I just started helping out here and right now I am not really familiar with the code. If you can find an example which works better for you, it would be great if you let me know.

Way easier to find something with a properly working example, at least if the issue is somehow related to the AVFoundation implementation ;) I

[2022-02-27 14:15] thegnuu commented on #33
PR #93 which should resolve this by adding a continuous scanning feature is now merged to the main branch, I will make a few tests next week and release `2.1.0` if everything works as expected!

[2022-02-27 14:15] #33 closed

[2022-02-27 14:16] thegnuu commented on #43
PR #93 is merged and `2.1.0` with this feature will be released next week!

[2022-02-27 14:16] #43 closed

[2022-02-27 14:17] thegnuu commented on #100
I am closing this issue for now based on the previous comment

[2022-02-27 14:17] #100 closed

[2022-02-27 14:22] thegnuu commented on #57
Unfortunately I am currently not able to reproduce this issue, do you guys still have issues using this plugin?

If so, it would be nice to have a repo to reproduce your issues, otherwise it will be really hard for me to find something...

[2022-02-27 14:23] thegnuu commented on #55
PR #56 is merged and will be released in `2.1.0` next week

[2022-02-27 14:23] #55 closed

[2022-02-27 14:25] thegnuu commented on #63
I merged #94 and will release `2.1.0` next week, so I will close this issue for now...

[2022-02-27 14:25] #63 closed

[2022-02-27 14:29] thegnuu commented on #34
PR #78 is merged an `2.1.0` will be released next week

[2022-02-27 14:29] #34 closed

[2022-02-27 14:33] thegnuu commented on #59
I was able to merge most of the open PRs today...
Still need to test all the changes next week, once this is done I will release `2.1.0`.

For now I will close this issue, since there are multiple inputs/questions which makes it kinda hard for me to handle.

If i missed something here or you have missing features/questions after the `2.1.0` release please open a new issue!

Thank you guys!

[2022-02-27 14:33] #59 closed

[2022-02-27 14:36] thegnuu commented on #48
Since there was no activity for a long time here and we are not really sure if the goal is to get an image of the last scanned code or to generate a qr code I will close this issue since I am currently trying to clean up the repo/PRs/issues.

If this is still an issue for anyone of you please open a new issue! Thanks!

[2022-02-27 14:36] #48 closed

[2022-02-27 14:37] thegnuu commented on #103
Since I have not heard anything from you @TekiLakshmanSundeep I will close this issue. Feel free to reopen it or create a new one if you still run into issues!

[2022-02-27 14:37] #103 closed

[2022-02-27 14:44] thegnuu opened #105 "1D barcode performance"
Currently, the performance when scanning 1D barcodes like code 39 or ean 13 is not great.
Since there are multiple issues regarding this subject I closed the older issues and reopened this one to keep track of it.

Old issues: #77 #104

Current ideas:
- Use IntegratorView on android (PR #72)

[2022-02-27 14:45] thegnuu commented on #104
@sephallen I created a single issue to keep track of the 1D performance and will close this one :)

[2022-02-27 14:45] #104 closed

[2022-02-27 14:45] thegnuu commented on #77
I created a single issue to keep track of the 1D performance and will close this one :)

[2022-02-27 14:45] #77 closed

[2022-02-27 14:46] thegnuu commented on #101
@djabif I have not heard back so I will close this issue for now. Feel free to reopen it if you still have issues!

Thanks!

[2022-02-27 14:46] #101 closed

[2022-02-27 14:48] thegnuu commented on #80
@HunSpeedi were you able to verify that the issues is caused by this plugin and not by `zxing`?

It seems like the issue you opened on `zxing` is closed now...

[2022-02-27 14:48] #80 closed

[2022-02-27 14:56] thegnuu commented on #67
For me it looks like mocking the module would be the right solution for this issue, proper tests will require a mocked module anyway since it is not testable otherwise by jest.

I will add @leticiatomasio 's solution to the docs next week!

[2022-02-27 14:58] thegnuu commented on #91
Since we have not heard from you @prasanthmarimi I guess you were able to fix your issue. If not feel free to reopen it and let us know what's not working for you :)

[2022-02-27 14:58] #91 closed

[2022-03-01 09:02] thegnuu opened #106 "Allow more detailed control over previous scanned code in continuous mode"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to reset the previously scanned code when using continuous mode.

**Describe the solution you'd like**
- Add a function to let the user reset the last code (probably the easiest way)

**Describe alternatives you've considered**
- Remove the "cache" and let the user handle it (maybe not ideal)
- Allow to

[2022-03-01 09:03] thegnuu commented on #106
@JanMisker what do you think?

[2022-03-01 13:55] thegnuu commented on #57
I am closing this issue now since I am cleaning up "old" issues, if you still run into trouble feel free to reopen it :)

[2022-03-01 13:55] #57 closed

[2022-03-01 16:22] sephallen commented on #105
Scanning a code 39 barcode on Android is pretty fast (if, as you mention, the barcode is held in the middle of the viewfinder - I would love for a way to move the `rectOfInterest` by the way!).

As for iOS, no matter where the barcode is positioned, it takes me around 15 seconds to successfully scan a small code 39 barcode sticker - the same sticker on Ionic 3 using other plugins which utilise AVF

[2022-03-01 16:29] thegnuu commented on #105
Well, at least this allows us to assume that there is an issue at our side of the implementation which should be fixable ;)

There are a lot of possible settings using `AVFoundation` - can you point me to a plugin which works for you?
It should be easier for me to find something with a better working implementation :)

[2022-03-01 17:10] sephallen commented on #105
Sadly, as I mentioned in my initial issue, I believe this to be an Ionic 5+ issue (perhaps even on Ionic 4, though I have not tested this).

If you were to try this plugin (https://github.com/phonegap/phonegap-plugin-barcodescanner) on both Ionic 3 and 5+ on iOS, you should notice a huge difference in scanning speed (for code 39 barcodes) between the two Ionic versions.

[2022-03-01 17:17] JanMisker commented on #106
In my use case I just ignore the duplicate code on the javascript side, so in my app, not in the plugin.

Still a setting could help. I'm not sure whether it makes sense to put a timer on it, seems simpler to tell the plugin to either send or don't send the same code that was scanned just before. If more complicated logic is needed (timeout, don't send N codes back) I'd say it could be solved in t

[2022-03-01 17:50] thegnuu commented on #105
Hmm this is weird... Since ionic 4 capacitor is used as default as far as I know, prior to v4 it was cordova if I'm not wrong.

I don't think that the issue has something to do with ionic itself, since I am using capacitor completely without ionic.

If there would be an issue between the communication between the native capacitor stuff and the js implementation, the delay should apply to all codes

[2022-03-02 10:04] sephallen commented on #105
The Ionic 3 project which does not have code 39 issues targets iOS 11 and my Ionic 6 project targets iOS 12.
I was not able to target iOS 11 with the Ionic 6 project due to a Swift dependency, but I was able to increase the target to iOS 13 and it did manage to scan a code 39 barcode much faster.
I did need to position the barcode in the center of the viewfinder though.
To sanity check, I built ou

[2022-03-03 09:17] thegnuu commented on #105
According to the definition the default `rectOfInterest` is `(0.0, 0.0, 1.0, 1.0)` which should be the entire capture size of the capture session, but based on the documentation 1D codes are only scanned in the center. I guess scanning 1D codes require more resources, but since only the center is used I don't know if it will make any difference.

I need to test if creating a smaller `rectOfInteres

[2022-03-03 09:20] thegnuu commented on #105
Yes, I can see the same delay on 15 with a capacitor/angular combination without ionic... Changes in `AVFoundation` might be an issue on higher iOS versions, but it does not really make sense IMHO that newer and faster devices running iOS 15 have more issues than older devices running iOS 11 or whatever.

[2022-03-03 09:49] thegnuu commented on #10
I had a quick look at `DecoratedBarcodeView` and as far as I see (I might be wrong), there is no code which really restricts the reading area to the rendered area.

The only thing I found right now is that `zxing-android-embedded` has the option to set a crop rect on their decoder with `setCropRect`, unfortunately this is currently "hardcoded" to [`decoderThread.setCropRect(getPreviewFramingRect()

[2022-03-03 10:42] thegnuu opened #107 "Idea: Try an implementation with Googles ML Kit"
Due to some issues which are hard to resolve in a cross-platform manner, it might make sense to create a PoC with ML Kit.

https://developers.google.com/ml-kit/vision/barcode-scanning

- This should enhance 1D barcode detection (#105)
- Allow a client-side implementation of a frame with the help of [cornerPoints](https://developers.google.com/ml-kit/reference/swift/mlkitbarcodescanning/api/referen

[2022-03-03 10:49] sephallen commented on #105
Thanks for looking into this, please let me know if you need me to test anything!

[2022-03-03 14:20] thegnuu commented on #105
@sephallen I created the issue #107, I was playing around with different settings but I was not really able to get better results. On my device (iPhone 15 Pro Max, iOS 15) the detection works relatively fast, but only if the code is positioned exactly at a given line.

So my idea was to make a PoC with Google ML Kit to see how this works on Android and iOS, this would allow us to fix other issues

[2022-03-03 14:37] thegnuu commented on #105
@sephallen would it be possible for you to quickly clone and install https://github.com/googlesamples/mlkit/tree/master/ios/quickstarts/vision on one of your test devices to see how this works?

The outputs on my device are pretty amazing to be honest :)

[2022-03-03 15:15] sephallen commented on #105
@thegnuu the results are very impressive for larger barcodes - especially with the live view! Sadly, I was not able to scan a code 39 barcodes though :(

I have attached a couple of photos of the code 39 barcodes I am working with to give you a sense of the size.

![PXL_20220303_151116010](https://user-images.githubusercontent.com/2955109/156593570-145b1e2d-52d7-4daf-a68d-4f02ddb185c5.jpg)

![PXL_

[2022-03-04 08:28] thegnuu commented on #105
Well, this thing is really small, I guess for sizes like this we need a higher resolution (the example uses `AVCaptureSession.Preset.medium`) resulting in a higher latency, hight should be enough though. Need to test it out, but it might work. Can you tell me the text within that code? If I create a code 39 with the written serial I get a more detailed output somehow....

![Screenshot 2022-03-04 a

[2022-03-04 08:35] thegnuu commented on #106
I think you are right, duplicates should be handled by your own implementation :) For your information, I am currently investigating rewriting the plugin as (currently not really) discussed in #107.

The example apps provided by google provide really promising results....

This would required some breaking changes anyway so I think about completely removing the "not continuous" method and leave th

[2022-03-04 08:45] thegnuu commented on #10
Guys I am thinking about rewriting the plugin to [`ML Kit`](https://developers.google.com/ml-kit/vision/barcode-scanning).

This would allow us to return the scanned barcode with the position where it was found and provide therefore the possibility to create a custom UI (I really like this idea of the current implementation) but it would allow each implementation to only handle barcodes found in a

[2022-03-04 09:31] sephallen commented on #105
Very small! The barcode only displays the last 6 characters, so in the example above it contains: `e0013e`.

[2022-03-04 10:03] thegnuu commented on #105
Changing the session capture preset to `high` allowed me to scan the code... I printed your code with a width of 2.2cm.

There are some false positives, so I guess handling small codes like this one would require some app side checks, for example to only trigger a detection when the same code is sent x times, but it should be possible with ML Kit.

![IMG_5491](https://user-images.githubusercontent

[2022-03-04 10:17] sephallen commented on #105
Nice work! And yes, validating in the app would be the way to go.

[2022-03-04 10:24] JanMisker commented on #107
@thegnuu  Looks interesting! The samples provided in the MLKit docs are already pretty close to what the plugin should provide, so indeed should be pretty doable to implement a PoC.

[2022-03-04 10:32] thegnuu commented on #107
Indeed yes, I already played around with the example app and the results are really promising so far.

It will take a few hours to create a PoC though, at least for me since I am not as fluent in Swift/Java as in other languages, but I should find some time in the next two weeks to tinker around with it 👍🏼

[2022-03-04 10:40] thegnuu commented on #31
Currently our first priority is to fix other issues regarding iOS and Android since a PWA solution is easier to work around than the native stuff. It is of course not ideal, but at least most devs should be able to get a working solution since adding this feature does not require any knowledge of the native environment and most capacitor devs should be able to get things working.

Once the other i

[2022-03-04 10:47] thegnuu commented on #66
I will start a PoC to use `ML Kit` for this plugin soon (#107), when doing this I will as well optimise the permission checks and mimic the behaviour of `@capacitor/camera` since the rewrite will include a lot of breaking API changes anyways and therefore some work to update to `3.0.0` it will be possible to split the checking to `checkPermissions` and `requestPermissions` as well.

[2022-03-04 14:09] JanMisker commented on #107
I'm quite comfortable with Swift; if you can do an Android PoC implementation I could use that as inspiration to make the iOS one.

[2022-03-06 16:16] thegnuu commented on #107
Sounds great! I spent some time today to read some examples how all of this has to be done...

Unfortunately I was not able to start working on it, since I was not really sure where to start... I think the easiest way will be to create a completely new plugin to work on this one and move it to this repo once most of the work is done...

[This](https://github.com/lpizzinidev/android-barcode-scan-ex

[2022-03-10 11:30] ChandAbdullah opened #108 "QR code scanner in a small div or component"
I Need the QR code like the below example

<img width="213" alt="Screenshot 2022-03-10 at 4 29 40 PM" src="https://user-images.githubusercontent.com/64844413/157653071-e30b239a-7d55-4d9b-8183-295aae4e6620.png">

[2022-03-10 22:41] JanMisker commented on #108
The camera view itself will always be fullscreen. The webview background is made transparent to show it. But you can just put a non-transparent div in your app to block parts of the camera view.

[2022-03-11 07:19] HunSpeedi commented on #80
Hi @thegnuu !
I think the issue is on zxing side, there are some suggestions regarding using some hint, but I was not able to look after if it works or how we can use it in this package. If I will came across this again or have some more free time I will share my foundings here. Many thanks!

[2022-03-11 14:49] thegnuu commented on #80
@HunSpeedi for your information, we are currently considering switching to `ML Kit` for this repo (#107).

It looks like `ML Kit` is able to detect `FNC1`, but not `FNC2`, `FNC3` and `FNC4` according to https://developers.google.com/ml-kit/vision/barcode-scanning.

Would this be sufficient for your usecase? As far as I know only `FNC1` is used at the beginning of `GS1-128` codes.

[2022-03-11 18:06] phal0r commented on #107
Pretty cool idea. Wouldn't this also allow to detect multiple codes at the same time and send and update the position of the detected codes? In combination with the overlayed webview, this would allow to augment the barcodes with related content within the webview.

[2022-03-11 18:11] thegnuu commented on #107
@phal0r Exactly yes! This is one of the reasons why I think this is a good idea. It would allow us to detect any barcode within the camera frame and report back all of those with the position where they are detected.

[2022-03-11 20:33] phal0r commented on #107
@thegnuu yeah, so what does it need to move this forward?

[2022-03-12 06:40] HunSpeedi commented on #80
@thegnuu As far as I know it would not be an issue

[2022-03-15 10:10] thegnuu commented on #107
@phal0r Right now, everything ;)

I played around with the demo projects of `ML Kit` and thought about implementing a simple PoC first, but I realised that once the PoC is implemented most of the critical parts are already done...

As I already told, I am not often developing native code. @JanMisker offered help on the iOS/Swift part of the implementation once the Android part is done, so I will t

[2022-03-15 11:03] phal0r commented on #107
@thegnuu yeah, let me know, when the interfaces are available. This will certainly help :)

[2022-03-15 12:46] thegnuu commented on #107
Of course, I will do this this week and let you know!

I think we can reduce the current functions and remove the "single scan" ability, since this can be easily implemented by each developer itself.... also things like `hideBackground` and `showBackground` do not really make sense, since they are called by the plugin anyways.

[2022-03-16 19:38] jahnavi310 opened #109 "Testing scanner on android emulator"
Hi there,

I have installed the plugin and everything seems to work fine hence so far... For some reason I am running into an issue where I am unable to test the scanner on the android emulator, it looks like the camera is just open in the background and running. The CSS for all the components has been set to have a background of transparent none, so not really sure what the issue could be here...

[2022-03-16 21:42] JanMisker commented on #109
I've tested succesfully on Android emulator. You have to make sure that the virtual device has a webcam configured.
You can also try chrome://inspect (in Chrome) to connect to the emulator and see if indeed all dom elements have a transparent background.

[2022-03-17 00:41] jahnavi310 commented on #109
@JanMisker: I figured out that the issue was related to the scanner being opened inside the ion-routeroutlet and ion-content, but now this is good to go... Another quick question on this for you, are you actually able to scan the barcode on the emulator? like get the result from the barcode on an emulator?

Thanks in advance...

[2022-03-17 10:18] sephallen commented on #105
@thegnuu apologies for chasing up, but has there been any more progress on this?

[2022-03-17 10:24] thegnuu commented on #105
Not for now, I am currently preparing the new interfaces for the plugin, I will create a branch this afternoon. Once this is done and we are happy with it we will start the implementation of `ML Kit` natively for Android and iOS. It hardly depends on the help I will get from others, if I have to do all the work myself it will at least take a month or so, since I have a lot of other projects going

[2022-03-17 10:32] sephallen commented on #105
@thegnuu That sounds promising! When you commit the new branch, I will pull it down and start using it within my app - if there is anything I can fix, I will attempt to do so too and create some PRs.

My client has also enquired if there might be a way to sponsor you / this plugin in the hopes of speeding up development - is this possible?

[2022-03-17 14:20] thegnuu commented on #107
@phal0r & @JanMisker I just pushed the branch `ml-kit` for this changes...

The only thing I updated right now is the typescript definitions part: https://github.com/capacitor-community/barcode-scanner/blob/ml-kit/src/definitions.ts

What do you think about this changes?

[2022-03-17 14:25] thegnuu commented on #108
@ChandAbdullah did this work for you? We know that currently codes can be scanned outside of the div you are defining, unfortunately this is kinda hard to achieve with the current state of the project. We are working on a solution for this problem, but it might take a while and it will require some work on your side as well once it is done.

[2022-03-17 14:31] phal0r commented on #107
@thegnuu yeah, makes sense to me.

So in addition my general considerations:
- the js side is responsible for deduplication of scanned codes
- the native sides provides scanned codes as a stream, that will contain the same code multiple times (i.e. with the new coordinates due to phone movement)
- the native sides controls, how often the scanned codes are send to the js side (i.e. for repositionin

[2022-03-17 14:52] thegnuu commented on #109
@jahnavi310 In my setup scanning works with the emulator. My test webcam is kinda bad so the resolution is not ideal which might result in longer scan-times, but in general it works.

What kind of code are you trying to scan?

[2022-03-17 22:15] thegnuu commented on #109
Can you provide an example of your implementation or share a repo? This would really help to point you to the right direction :)

[2022-03-18 14:47] jahnavi310 commented on #109
@thegnuu - I got up and running and it also does the scanning :)... thanks so much for the quick responses...

[2022-03-21 10:08] #109 closed

[2022-03-22 15:16] jahnavi310 opened #110 "Change permissions text"
Hi there,

I am trying to change the permissions text when the user opens the app for the first time. Is there a way that this can be achieved via code? I need to change the main text and not the description since i know that can be changed via info.plist property.

Thanks in advance

[2022-03-22 20:17] JanMisker commented on #110
@jahnavi310 what do you mean with 'main text'? Can you post a screenshot?

[2022-03-23 08:11] danielberebel commented on #107
Hi, I found other package on development (apparently abandoned) for capacitor ml kit barcode scanner.
https://github.com/franckysolo/capacitor-mlkit-barcodescanner

And other for cordova.
https://github.com/Ratsoc/cordova-plugin-firebase-ml-kit-barcode-scanner

I hope it can help you .
And although I have no experience with native development I want to offer my help for anything.

[2022-03-25 09:17] imDevSalman opened #111 "Blank screen on Android 11"
Blank screen appears instead of scanner on android 11 meanwhile it works just fine on android 9.

Mobile: Moto G9
Ionic version: 6.0.12
capacitor version: 3.4.1
capacitor android version: 3.4.3
barcode-scanner version: 2.1.0
https://user-images.githubusercontent.com/76111741/160090837-6a9a33f0-35d5-45f4-9d45-d09149e3b4d5.mp4

[2022-03-25 16:19] davidecampello commented on #111
I'm having the same issue.

[2022-03-25 16:30] maxsil69 commented on #111
Me too :-(

[2022-03-28 03:40] imDevSalman commented on #111
any luck so far?

[2022-03-30 06:53] achacofe opened #113 "Error lunch web - not implemented on web"
**Describe the bug**
It says that it is compatible for all three platforms, but I don't understand how I can make it work on the web, I have tried downloading the project itself and launching it but there is no way, it gives me this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to BarCodeScanner
2. Click on Scan
3. See error

**Expected behavior**
I hope that clicking th

[2022-03-30 08:11] tafelnl commented on #113
Unfortunately no support for web has been added yet. Closing as a duplicate of #31

[2022-03-30 08:11] #113 closed

[2022-03-30 08:49] achacofe commented on #113
@tafelnl Thank you very much for the clarification. Could you point me to a scanner plugin for BarCodes, QR, etc. that has support for Web, Android and iOS?

[2022-03-30 08:49] thegnuu commented on #107
@danielberebel sorry for my delayed response and thank you for pointing to that examples, this will surely help to create at least the Android part of the plugin.

If you would like to help you can try to start the rewrite of the Android plugin - I won't find time until next week to get started, if there is already some work done I can pick up the work from there :)

[2022-03-30 08:50] achacofe commented on #31
@thegnuu @hellokingdom @tripodsgames  Could you point me to a scanner plugin for BarCodes, QR, etc. that has support for Web, Android and iOS?

[2022-03-30 08:54] thegnuu commented on #111
Sorry it took me so long to respond!

I was having the same issue on Android at first, I realised that Ionic is somewhere adding a white background with a css variable which is for some reason not happening on iOS. Unfortunately `hideBackground` won't do the full work in that case.

Can you check and make sure that every `div` which is currently in your visible DOM has a transparent background?

[2022-03-30 08:59] thegnuu commented on #110
A screenshot would really help in that case, but if the text you are describing is the one I am thinking of there is no way to change it. Better usability is usually achieved with a custom UI prior to the `requestPermission` action to prepare the user for the request and add additional information why this is required.

[2022-03-30 09:00] thegnuu commented on #108
@ChandAbdullah since I have not heard anything I will close this issue. If you still having troubles feel free to reopen it!

[2022-03-30 09:03] thegnuu commented on #31
I have not tested it, but there is one listed in the ionic docs which seems to support all platforms right now:

https://ionicframework.com/docs/native/barcode-scanner

[2022-03-30 09:17] achacofe commented on #31
Hello, I have tried that plugin, but it does not work in the browser as I expect, what it does on the web is open a dialog for me to enter the barcode, what I want is for it to open the cam to scan.
I am using the same example from the link. You can help me?

[2022-03-30 09:21] thegnuu commented on #105
@sephallen sorry, somehow I missed that...

Since it is a community plugin and I'm just helping to maintain it I am not able to setup some sort of sponsoring. I don't think it makes sense anyways, since it would be pretty hard to get the funds to the right person.

At least for me personally it is not a question of money anyhow, the time aspect is more problematic.

If my current plans go well I w

[2022-03-30 09:21] tafelnl commented on #31
@achacofe This is not the right place to ask questions about other libraries. You could start out with a Google search (like https://www.google.com/search?q=barcode+scanner+npm) or open a question on Stack Overflow for example.

[2022-03-30 10:05] tripodsgames commented on #31
You can use qr-scanner on the web and this library on native app

qr-scanner:
https://www.npmjs.com/package/qr-scanner

[2022-03-30 10:10] sephallen commented on #105
@thegnuu sounds like a plan, I'm looking forward to it ;)

[2022-04-05 16:00] laurentguenver-a commented on #111
I'm having the same issue.
Someone has an idea ?

[2022-04-05 17:19] thegnuu commented on #111
As I said in my previous comment, have you verified that all the DOM elements are in fact transparent?
For some reason ionic behaves not the same on Android and iOS....

I cannot reproduce this issue in my test project with different Android versions.

If you want me to help in some ways I need additional information or a project to reproduce this issue.
Just "It does not work" unfortunately won't

[2022-04-06 05:06] imDevSalman commented on #111
Thanks for taking the time to reply, below are the content of my HTML, SCSS and TS file respectively -
Note:- Before posting this comment I tried running this and it worked fine for the first time even on android 11, but when I closed the app and restarted, same issue started to occur.

home.page.html

[code]

home.page.scss

[code]

home.page.ts

[code]

[2022-04-07 08:52] thegnuu commented on #111
@imDevSalman Thank you for the additional information, please give me some time to look into it.

Unfortunately I have no Android 11 hardware, I can only test it with an emulator. Do you eventually already know if the issue can be reproduced within emulation?

[2022-04-07 09:18] imDevSalman commented on #111
@thegnuu
I tried reproducing the issue on emulator, but its working as expected in an emulator.

[2022-04-07 09:23] thegnuu commented on #111
@imDevSalman Thanks for your fast response! This is bad, at least for me to help you find a solution since I don't have a test device.

Can you see something suspicious in the logs when this issue occurs? It might be as well something related to the permissions, I know that there are some issues if you set the permissions to "Ask every time" as you can see here #66.

[2022-04-07 16:06] davidecampello commented on #111
Same to me! Tried on emulator but It's working as expected while we are having emails from customer using android 11 (and one using iphone but I'm not sure it's the same problem).

[2022-04-08 18:24] soyardee commented on #111
I happened to run across a similar issue on my android 11 device using angular 12. I haven't tested in the emulator, but I was able to determine that the `<body>` tag in `index.html` where I placed my entry component needs to have a transparent background styling set as well (either via `document.body.style.background = 'transparent';` or adding a css class to the `<body>` tag). For whatever reaso

[2022-04-14 04:00] #111 closed

[2022-04-14 09:42] thegnuu commented on #111
@imDevSalman Thank you for letting me know! For now I don't think that it makes sense to add this by default to the current version of the library since it might break other things and those changes can be easily applied in js by the devs as well (as soon as you find the issue of course ;) ).

I am currently working on a new version of this library which will be breaking anyway, maybe I will apply

[2022-04-14 09:43] thegnuu commented on #110
@jahnavi310 I will close this issue for now, if you have any problems feel free to reopen it or create a new one :)

[2022-04-14 09:44] #110 closed

[2022-04-18 08:22] phal0r commented on #107
@thegnuu Is there a branch somewhere already?

[2022-04-18 12:10] thegnuu commented on #107
@phal0r Kind of: https://github.com/capacitor-community/barcode-scanner/tree/ml-kit

Currently only the new interfaces are committed, I am currently working on it and trying to get at least a single code scanned on Android.... But it's not going forward really fast since I have to look up a lot of stuff ;)

[2022-04-18 16:19] jahnavi310 opened #117 "Trigger permissions dialog without navigating to app settings"
Hi there,

I have following function to ask the user for permissions:
[code]

I want to be able to trigger the permissions again and not have the user navigate to the app settings, but having only `await BarcodeScanner.checkPermission({ force: true });` does not seem to re-trigger the permissions dialog once the user has denied permissions.

Is there a way for me to achieve this?

Thanks in advanc

[2022-04-18 16:41] thegnuu commented on #117
Umfortunatley this is not possible. Once the user denied access the app won't be able to request it again without using the app settings. This is by OS definition.

The only way is to add a custom dialog, inform the user and redirect him to the settings...

[2022-04-18 18:23] jahnavi310 commented on #117
@thegnuu - got it. So apparently in the case that the user denies permission once, the native  request permission dialog will not open up. The user will have to be redirected or will have to on their own goto the settings screen and toggle the permissions, correct?

[2022-04-18 18:28] thegnuu commented on #117
Exactly yes, on Android there is an "allow once" method as well, this should trigger the native dialog again after the initial request, but as far as I know there is an issue with the implementation right now.

But the check and redirection to the app settings if the permission is denied is a good idea anyways :)

[2022-04-18 20:26] AnthoCha opened #118 "QRCode scan work, but camera image not displayed"
Hi !
I followed this tutorial to install barcode scanner : https://javascript.plainenglish.io/how-to-build-an-ionic-angular-capacitor-app-with-a-qr-code-scanner-28d6356809af

My problem is that the camera is launching and the QR code is recognised, The camera image is not displayed on screen...
Does someone know how I can display it ? Maybe a CSS rule ?
Best !

![Screenshot_2022-04-18-22-11-26-18_

[2022-04-18 20:30] thegnuu commented on #118
You need to make sure that every underlying div is set to transparent in your css, unfortunately this is different in every setup ;)

The easiest way is to use some kind of inspector to check which classes have some kind of background at the moment :)

[2022-04-19 22:57] JEVietti opened #119 "ResumeScanning doesn't retrigger startScanning result"
**Describe the bug**
During continuous scanning if you pause after scanning a particular qrcode, then after resume scanning you rescan the same code the promise/scan result doesn't retrigger. If you scan a different qrcode it acts as it should and retriggers after each new scan.

**To Reproduce**
Steps to reproduce the behavior:
1. Use continuous scanning
2. get results and pause
3. resume scannin

[2022-04-20 08:58] gidhin commented on #118
The same issue I'm facing. I try with background transparent but still the same. any sample code.

Thanks

[2022-04-20 09:07] thegnuu commented on #118
You can find more information here #111.

Unfortunately it is not possible to provide matching samples, since it is highly dependant on your implementation. There are also different behaviours depending on the frameworks you use, for example Ionic is adding some css variables which sets a background if you use android and have dark mode enabled aso.

[2022-04-20 09:08] #117 closed

[2022-04-21 12:25] gidhin commented on #118
This issue has been fixed.

In my case, I used a model popup. I changed that into a page. Then it's working fine I can see the camera background.

don't use model popup if are using an Ionic Capacitor.

Thank you.

[2022-04-21 12:34] thegnuu commented on #118
Sounds great and yeah, you are right. Using a default model is not possible. You would need to create some sort of "inverted model" which will create a border and just expose a transparent center which looks like a model... But I guess this would be quite the pain to implement ;)

 @AnthoCha were you able to resolve your issue?

[2022-04-24 10:01] portfel-corporation opened #120 "'discoverCaptureDevices()' is deprecated"
**Describe the bug**
'discoverCaptureDevices()' is deprecated, build compiles but gives warning.

Xcode Version 13.3.1 (13E500a)
@capacitor-community/barcode-scanner": "^2.1.1

screenshots
https://ibb.co/VtNcYKJ
https://ibb.co/MB397sZ

[2022-04-24 22:26] lemhteske commented on #111
How can I this workaround from @imDevSalman in Ionic javascript?

[2022-04-25 08:09] thegnuu commented on #111
Unfortunately I cannot help you with that since your setup can be completely different event if you use ionic as well. Basically you need to make sure that all DOM elements currently visible have a transparent background, for this you might need to add styles (background and background-color) to some elements or you need to change some css variables which can be easily done with js.

[2022-04-25 15:20] tejavoo opened #121 "Can someone please help me with a blank Vue3 Capacitor Ionic - Barcode Scanner Example"
I have been struggling to get the basic scan and display the QR with Ionic Vue - Capacitor with this Capacitor Plugin

Thanks

[2022-04-25 15:26] thegnuu commented on #121
First of all, please use an inspector to verify that all your visible DOM elements have a transparent background, just using `hideBackground` is not enough in most cases. You can easily achieve this by just clicking through your DOM and add `background: transparent` and `background-color: transparent` to all elements. In cases like this there is usually a problem with your setup and not with the p

[2022-05-03 07:14] mattiswikar opened #123 "Implement zoom for scanner"
If scanning in an environment where one can't get really close up to read the code, it would be nice to have a little bit of zoom in the camera view. Hopefully that could be implemented :)

[2022-05-03 09:09] thegnuu commented on #123
I will have a look into this, I am not sure if it is possible at the moment, but I will check it out.

[2022-05-03 21:29] luckydonald commented on #31
As the android version is already using `zxing`, how about the typescript port of that, `zxing-js`?
https://github.com/zxing-js/library

[2022-05-10 12:30] interfacersa opened #124 "Unable to scan barcodes rotated 90 degrees"
I was wondering if you have capability to scan barcodes which are rotated 90 degrees(on their side). The other ionic scanner does allow it but does not allow continuous scanning like this one?

[2022-05-10 14:01] thegnuu commented on #124
@interfacersa About which kind of codes are you talking?

[2022-05-10 19:15] interfacersa commented on #124
Barcodes and QR Codes. Basically any type you currently support

[2022-05-11 06:58] thegnuu commented on #124
All the 2D barcodes should not be a problem since they are designed for exactly this. With 1D barcodes and the current implementations used in this plugin it is not really possible unfortunately.

[2022-05-13 06:25] interfacersa commented on #124
Not sure if you have seen this https://github.com/journeyapps/zxing-android-embedded/issues/211

[2022-05-13 08:50] xulihang commented on #124
ZXing cannot read rotated barcodes. You can try this [capacitor plugin](https://github.com/xulihang/capacitor-plugin-dynamsoft-barcode-reader) using Dynamsoft Barcode Reader which can read 1D barcodes in any angle.

[2022-05-13 09:14] interfacersa commented on #124
Thanks ill try this

[2022-05-14 01:07] khavnu commented on #124
![barcode](https://user-images.githubusercontent.com/3805561/168405007-313fa4a8-1fa5-4ba4-8b4a-2ef896401fab.jpg)
 This is my solution: Use RxJava or Coroutines to decode origin bitmap(vertical barcode), if result is null -> rotate bitmap and decode again

[2022-05-20 06:44] BC-M opened #125 "iOS: Crash when scanner is quickly started and stopped repeatedly"
**Describe the bug**

The plugin crashes our app when the scanner is quickly started and stopped repeatedly. In my tests, it is enough to open and close the scanner 2-3x quickly to reproduce the problem.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Open barcode scanner and close it repeatly
2. See error

[code]

**Expected behavior**

Not to crash.

**Version**

v2.1.1

**Smartph

[2022-05-23 07:22] thegnuu commented on #125
Sorry for the delayed answer. I was not able to test it on iOS 15.5 right now, had to test something on a prior iOS version and I have just one physical device.

I will update my iPhone right now and will give you some feedback as soon as I was able to test it.

[2022-05-23 07:23] thegnuu commented on #121
I will close this issue since I have not got any feedback, feel free to reopen it or create another issue if you still have problems :)

[2022-05-23 07:23] #121 closed

[2022-05-23 07:45] BC-M commented on #125
As can be seen in the log, "stopScan" was executed twice at the same time. This was caused by incorrect use of "React.useEffect" in our application. We have now fixed the double execution of "stopScan", which prevents the application from crashing.

You can close this ticket if you want, as the problem was caused by improper use.

[2022-05-23 08:21] #125 closed

[2022-05-23 18:49] Taufeeq-Mowzer commented on #107
Hi, I'm not experienced at all but I see that this has been done with flutter and was wondering if you could use their Java/Ios code to help form your bindings.
*[Github repo of the most used barcode scanner implementation ](https://github.com/AmolGangadhare/flutter_barcode_scanner)
*[Github repo of the flutter barcode scanner using firebase ML Kit](https://github.com/rmtmckenzie/flutter_qr_mobile

[2022-05-25 15:24] tomfong opened #126 "We may need to be aware of rMQR"
rMQR (Rectangular Micro QR Code) is a new form of QR code invented by Denso Wave.

https://webstore.iec.ch/publication/76135

[2022-05-27 01:55] tomfong opened #127 "I would like to contribute to the project"
I love this project and I'm using it in my FOSS app (https://github.com/tomfong/simple-qr).

I would like to contribute to the project and help maintain the plugin especially the Android version, but I am a newbie of capacitor plugin and even know nothing about Swift.

Could you tell me the steps where I should start?

[2022-05-30 08:14] tomfong commented on #127
Thanks for your reply and help!

[2022-05-31 09:49] thegnuu commented on #126
Since we are depending on other libraries to do the encoding, there is not much we can do to support those codes. Once the other libs support codes like this it should not be a problem to update to a recent version and add support, but usually it takes a long time anyway to introduce some new formats.... :)

[2022-05-31 09:49] #126 closed

[2022-06-04 21:52] corpro commented on #127
Very impressed with your project and would like to take it to the next level.  I want it to scan as fast as this app
https://apps.apple.com/app/qr-code-barcode-scanner/id1048473097

Could you tell me the steps where I should start?

[2022-06-07 11:00] thegnuu commented on #127
Hard to say since I have no idea what libs this project relies on. One idea I have in mind is #107 which might provide better and faster results. Unfortunately I currently have not much time to spend and investigate this implementation....

[2022-06-08 19:27] corpro commented on #127
Don't capture input at the camera’s native resolution seems like the key to performance.

[2022-06-08 20:09] thegnuu commented on #127
It's pretty easy to play around with the resolution if you plan to read 2D codes, since most of them are "built" to be read by cameras and will work with missing information for example caused by a lower resolution. It's a completely different story if you want to more or less properly support 1D codes.

Finding a proper balance between resolution, performance and usable results is quite difficult

[2022-06-08 21:24] thegnuu commented on #107
@JanMisker I finally found some time to start working on this today (iOS), I pushed my current progress (which is basically nothing, had some struggles getting everything to build properly in the first place) to the `ml-kit` branch.

I just wanted to test if anything works, but unfortunately I am not able to call the plugin functions from my linked test repo...

`Error: "BarcodeScanner" plugin is

[2022-06-15 13:14] thegnuu commented on #127
Sure, you can find my email address on my GitHub profile...

[2022-06-15 15:15] RyanYangGit opened #129 "TO JS undefined"
When i run on ionic6, it doesn't work. The xcode output shows "TO JS undefined", no matter use BarcodeScanner.hideBackground() or BarcodeScanner.startScan().
Is anyone also got this error?

[2022-06-15 15:18] thegnuu commented on #129
I have no issues in with my ionic 6 test setup, the plugin works as expected in my case so it might be an issues with your setup and not the plugin itself.

Can you share a repo where I can reproduce your issue?

[2022-06-17 08:28] thegnuu commented on #107
I was finally able to get ML Kit working (I am currently only working on the iOS version) and so far the results are really promising. I need to do some cleanup but in a week or so I should be ready to provide a iOS test build.

Would anyone out there be willing to support the Android development once the iOS version is done as an example?

[2022-06-17 12:08] thegnuu commented on #124
Just to let you know, I am currently working on a PoC to use Googles ML Kit in this plugin. With my current implementation I am able to read this code without any issues in any angle, this should resolve most of the issues regarding 1D codes.

I will let you know once I have a version ready to test, currently I am implementing the iOS part since I am more used to develop with swift than Java at th

[2022-06-18 12:28] thegnuu commented on #105
@sephallen I just wanted to update you that I have a working iOS ML Kit version on my device which is able to scan the code from the photo directly from my macbook screen. Sometimes there are false values, but it is hard to say if it will work if you have direct access to the code.

It will take me some time to finish the details, but in a week or two you should be able to test it (at least on iOS

[2022-06-18 12:29] thegnuu commented on #105
I decided to start with iOS since I used Swift more often in the past month and the implementation looked simpler in my opinion to create a PoC :)

[2022-06-20 04:15] sephallen commented on #105
@thegnuu that's great news! Thank you for the update :)

[2022-06-23 15:34] asdmx opened #130 "Value of optional type 'CAPBridgeProtocol?' must be unwrapped to refer to member 'getWebView' of wrapped base type 'CAPBridgeProtocol'"
**Describe the bug**
Error occured during the XCode compilation

**Expected behavior**
Error displayed : Swift compiler error Value of optional type 'CAPBridgeProtocol?' must be unwrapped to refer to member 'getWebView' of wrapped base type 'CAPBridgeProtocol'

**Screenshots**
<img width="728" alt="Captura de Pantalla 2022-06-23 a la(s) 10 30 07" src="https://user-images.githubusercontent.com/8944

[2022-06-24 12:17] thegnuu commented on #130
@asdmx Unfortunately I have no access to an another Mac with Xcode 12, I am working with Xcode 13 and MacOS 12 for all projects and everything is working without any issues on my devices. Which version of capacitor are you using?

[2022-06-30 00:38] asdmx commented on #130
@thegnuu I solve my problem upgrading my MacOS to 12 and my XCODE to 13, but I have to uninstall first and then install again via NPM, thanks for your help

[2022-06-30 09:07] thegnuu commented on #130
Glad you were able to resolve your issue and sorry I was not able to help you with the older versions, unfortunately my available testing devices are limited at the moment ;)

[2022-06-30 09:07] #130 closed

[2022-07-11 10:11] kieranbarlow commented on #129
I'm getting this too. When looking at Xcode I can see a warning:

`discoverCaptureDevices()' is deprecated: New Xcode? Check if `AVCaptureDevice.DeviceType` has new types and add them accordingly.`

[2022-07-12 19:19] j4vs commented on #108
Similar problem, i'm making a view for a price checker. So i need just the view camera on the top of the screen so i can show the products on the bottom of the screen. The problem is if put a div in front of the camera view, the top part doesn't recognize de code bar because of the scan area

![demo](https://user-images.githubusercontent.com/51412848/178576336-e7ee0578-1943-466f-bcc0-4d52acdb2378.

[2022-07-12 20:58] thegnuu commented on #108
Yeah, this is currently not possible. I am working on a version which would allow things like this, but unfortunately I am not able to provide a date when it might be ready.

The iOS version is nearly ready, but the Android version might take a while if I have to do it all by myself...

Sorry for not being able to provide you better news ;)

[2022-07-19 17:22] MerOderWenigerLin commented on #118
I can reproduce the error very easily with a new ionic project.
https://github.com/MerOderWenigerLin/scan-test

I Even connected with the Google device inspector to manually change the HTML opacity. That seemed to help, but only for an emulated device and not my physical one.

PS: My Physical device always starts the app in Dark mode, even tho I disabled dark mode on the device. Maybe that may con

[2022-07-26 12:22] thegnuu commented on #118
Unfortunately I cannot really help you with your specific setup, my test setup is a simple new ionic app and it works without any issues.

You need to figure out yourself which DOM elements needs to be hidden once the scanner is started. But I can tell you that added ionic classes and css variables may differ if it as an emulator or a physical device, I was able to reproduce that once. Which means

[2022-07-26 12:22] thegnuu commented on #120
Yeah, I know about that warning, but for now it can be ignored :)

[2022-07-29 07:45] melihgunduz opened #132 "Capacitor V4 support"
Hello, Capacitor V4 has been released. Do you have any plans for compatibility support?

[2022-07-29 08:05] thegnuu commented on #132
Sure thing! I am not in the office for the next 3 weeks but after quick google search and looking at the plugin docs I was not able to see any changes in the plugin interfaces.

Have you already tested it with v4? It might work out of the box or maybe we just need to update the dependencies, I might be able to do this if I am away, might not be much work :)

[2022-08-02 04:06] joeldhenry commented on #132
The PR looks good! Can you merge it in & publish?

[2022-08-02 08:27] csurbier opened #136 "Be able to specify the dimensions of the scan view"
It should be nice to avoid having the full screen for scanning and having an option to pass the dimensions (x,y,width,height) of the desired scan view.

In the plugin code, values are hardcoded:
` public override func load() {
        self.cameraView = CameraView(frame: CGRect(x: 0, y: 0, width: UIScreen.main.bounds.width, height: UIScreen.main.bounds.height))
        self.cameraView.autoresizingM

[2022-08-02 11:20] AshleyMedway commented on #132
There are other changes needed for 4.0 support

[2022-08-08 04:42] ssj7 opened #138 "ERESOLVE unable to resolve dependency tree"
**Describe the bug**
Unable to resolve dependency tree
Fresh installation of everything.

**To Reproduce**
Steps to reproduce the behavior:

1. npm install @ionic/angular@6 @ionic/angular-server@6
2. ionic start test blank --type angular
3. cd test
4. npm install @capacitor-community/barcode-scanner
5. See error

**Expected behavior**
install successfully like most updated plugins.

**Screenshots*

[2022-08-08 05:09] rs2-davebanguilan commented on #138
Upgrade to Capacitor 4.0 is still not merged yet. But someone already created a PR here: `https://github.com/capacitor-community/barcode-scanner/pull/137`

[2022-08-08 05:28] ssj7 commented on #138
Thanks I'll try it. Trying `--legacy-peer-deps` now to see if it works

[2022-08-08 08:16] rs2-davebanguilan opened #139 "Scan QR from Photo Gallery"
**Is your feature request related to a problem? Please describe.**
I would like this plugin to have an option to scan QR on an image by uploading from Photo Gallery

**Describe the solution you'd like**
There should be a function to call that will open the photo gallery and after selecting a photo, the function will return the QR Data that is on the photo.
ex:
`getAndScanQR().then(qrData => consol

[2022-08-09 08:48] thegnuu commented on #138
Hi guys! I am currently on vacation and I don't really have the possibility to test my changes on real devices. If anyone of you can test the branch https://github.com/capacitor-community/barcode-scanner/tree/capacitor-v4 I can create a release this week, otherwise it will be sometimes next week unfortunately...

[2022-08-09 15:32] heinerlamprecht opened #141 "Add css class to HTML element"
Would it be possible to add a certain css class to the HTML element instead (or in addition) to the style attribute?  This would easily allow to style certain UI elements in the application when scanning is active.

[2022-08-09 15:37] thegnuu commented on #141
Technically this would not be a problem, but I think this is something that should be handled individually by each developer since it is really easy to implement and some might want different classes or add those classes to different elements aso...

[2022-08-09 15:39] thegnuu commented on #139
I need to have a look at this once I am back from my vacation, but at least on iOS it might not be that easy since the "scanner" is directly linked to the camera feed at the moment, but I might be wrong...

[2022-08-09 21:01] hauserkristof commented on #138
@ssj7 try to install the capacitor 4 branch version with
[code]

It is working until they do not merge the changes.

Also, it worths a look on the PR #142 the ```self``` keyword is missing from the code yet.

[2022-08-10 09:06] thegnuu commented on #138
I just released v3, thanks to everyone that helped on this issue!

[2022-08-10 09:06] #138 closed

[2022-08-10 09:07] thegnuu commented on #132
v3 with capacitor v4 support is released and ready to use!

[2022-08-10 09:07] #132 closed

[2022-08-15 09:51] #118 closed

[2022-08-16 13:39] sjonkeesse commented on #129
Same here

![Xcode log](https://i.ibb.co/yRykjf3/Screenshot-2022-08-16-at-15-36-38.png)

[2022-08-16 14:03] sjonkeesse commented on #129
For me this was the issue.
In `@capacitor-community/barcode-scanner/ios/Plugin/Plugin.swift` the `UIApplication.shared.statusBarOrientation` was not just deprecated, but is obsolete. This line:

[code]

should be replaced to something like this

[code]

The `TO JS undefined` log remains, but the barcode scanner seems to work.

[2022-08-16 14:12] MerOderWenigerLin opened #145 "Android Dark-Mode, Camera preview not showing"
**Describe the bug**
When the app is running on Android-Dark-Mode the camera will not be visible compared to when run in light mode it is.

**To Reproduce**
Any App running in Android Dark Mode (recreated on multiple real devices)

**Expected behavior**
A clear and concise description of what you expected to happen.
The Camera should be visible even in Dark Mode

**Version**
[3.0.0]

**Smartphone

[2022-08-17 06:14] thegnuu commented on #145
@MerOderWenigerLin this is not an issue caused by the plugin itself. I guess you are using ionic based on the error, ionic will add some css variables on some DOM-elements (like --ion-background) or something which will add a background on dark mode on Android. You need to make sure that your DOM structure is ready for the plugin, this is unfortunately nothing the plugin can do properly by itself

[2022-08-17 08:51] MerOderWenigerLin commented on #145
Thanks for the reply, and sorry for the wrong bug report. Thanks to you, I could fix it.

[2022-08-17 08:59] thegnuu commented on #145
No worries! Ionic behaves a bit weird an I am used to this issue ;) I think adding some FAQ or something once I find the time will help :)

Glad you were able to resolve your issue!

[2022-08-17 08:59] #145 closed

[2022-08-18 08:05] heinerlamprecht opened #147 "UI broken on Android since upgrade to Capacitor 4"
Since upgrade to Capacitor 4 and version 3 of this plugin, the previous custom UI does not show up again on Android.  The complete WebView is hidden (not even accessible through the Chrome debugger).  Besides, the scanner now shows some information about the scanned code already while scanning.

On iOS, the behaviour is the same as before the upgrade.

Tested on Galaxy Tab A8 with Android 11

[2022-08-18 08:13] thegnuu commented on #147
Unfortunately I am not able to reproduce this issue...
Can you share a repo where I can reproduce your problem?

Without an implementation to debug it won't be possible for me to help you....

[2022-08-18 10:15] wombatslayer opened #148 "binary-mode QR scanning"
**Is your feature request related to a problem? Please describe.**
When scanning a QR code that uses byte mode encryption, the data which is returned is incorrect. On Android, I get a string encoding of the byte data, eg. "��\t�@\u00", from which I cannot recover the original bytes; on iPhone, the native barcode scanner returns a read error.

**Describe the solution you'd like**
I would like to ha

[2022-08-18 10:26] wombatslayer commented on #148
Having a closer look. It appears that com.google.zxing does expose a method called getRawBytes(), which should do what I need on Android. I'll get a PR going in the next few days.

[2022-08-18 10:49] wombatslayer commented on #148
For iOS, this blog post seems to hold promising information: https://ristkof.be/posts/qr-codes-binary-on-ios.html

[2022-08-19 10:15] david-it commented on #145
I'm having the exact same issue but I've found a workaround that works at the moment.

In dark mode the `body` gets a '--ion-background-color' that I cannot manage to remove dynamically via scss. But forcing the style property via javascript seems to work fine:

[code]

Tested on a Samsung S10 (Android 12).

Probably this would work also for issues #144 and #118.

To my understanding the method [B

[2022-08-19 12:15] Squix commented on #147
As for me, splashscreen (probably the new Android 12 one) is showing between the scanner UI and the camera view.
Scanning is working (when a barcode is in front of the camera), even if nothing is visible.

[2022-08-21 11:16] czabaj commented on #67
Or simply import from the dist w/o changing the lib code

[code]

[2022-08-22 08:35] thegnuu commented on #145
Hide background will work as expected, unfortunately ionic will add styles on a higher DOM element than the body which will use the variable `--ion-background-color` that will overwrite those changes and basically make them useless....

I am working on a newer version which will not expose the `hideBackground` function since the name is a bit confusing and the function will be called internally an

[2022-08-22 08:36] thegnuu commented on #147
You should be able to remove the splashscreen with some ionic plugins, have you already tested this?

[2022-08-22 16:03] renatojobal commented on #7
For someone still wondering how to achieve that on an ionic app:
There should be a file `ionicapp/src/theme/variables.css`. Here you could set the background to transparent on the items `.md body {` and `.ios body {`. For example:
![image](https://user-images.githubusercontent.com/35740463/185966165-fa53be8a-4fd3-4387-a683-826326feaf2d.png)

[2022-08-25 09:44] fewNeurons opened #149 "Calling method checkPermissions on plugin in ml-kit branch returns undefined"
**Describe the bug**
This problem ocurrs when trying to calling BarcodeScanner.checkPermissions() function in iOS in ml-kit branch:
⚡️  To Native ->  CapacitorCommunityBarcodeScanner checkPermissions 131742848
⚡️  TO JS undefined
⚡️  [log] - status: undefined
⚡️  [log] - some problem with the camera

The start method returns -1.
 The request permission method does return an error, but I'm assuming

[2022-08-25 09:46] fewNeurons commented on #149
angular target in tsconfig is es5 because of it is an old iPhone and info.plist camera permissions are set

[2022-08-25 14:20] thegnuu commented on #149
@fewNeurons the ml-kit branch is a complete work in progress (and kind of a mess) and it is very well possible that the requestPermission stuff is broken. The plan was to rewrite the permission check completely since the current implementation is far from perfect anyways, so my plan was to use the same implementation that is used in https://github.com/ionic-team/capacitor-plugins/tree/main/camera

[2022-08-25 16:57] smachi commented on #107
It would be awesome to have an MLKit implementation for this plugin as the current version is not working well for us (it isn't able to scan some barcodes...)

[2022-08-25 21:11] fewNeurons commented on #149
Hi @thegnuu, thank you for your response and your workaround suggestion. Another plugin seams right in a future. I have been thinking of implementing the Android version myself. I will be updating you about my progress!

[2022-08-26 07:51] thegnuu commented on #149
If you are willing to implement some android code and help out here this would be awesome. The current "discussion" is found here #107

I will close this issue for now, keeping this issue in my backlog for the ml-kit stuff. Feel free to ask question or post news on the ml-kit issue!

Thank you!

[2022-08-26 07:51] #149 closed

[2022-08-26 10:51] fewNeurons commented on #149
Hi again, I've made it able to work in this quick demo https://github.com/fewNeurons/barcode-scanner-test

[2022-08-26 11:18] fewNeurons commented on #107
Hi I managed to make [a quick little iOS app ](https://github.com/fewNeurons/barcode-scanner-test) and the results are very good so I'm looking forward to starting with coding the Android version. If anyone wants to join me in the implementation, I'm open to get some help! as I'm not very experienced in Android development.

[2022-08-29 11:50] florian72810 opened #150 "(iOS) showBackground set webview to white instead of previous color"
**Describe the bug**
When showBackground is called, the webview is set to white.

The webview backgroundColor can be set in `capacitor.config.js` with a custom color.

showBackground should revert to the previous backgroundColor instead of white.

**Code Reference**

[code]

[code]

**Version**
Barcode-scanner: 3.0.0
Capacitor-ios: 4.1.0

**Additional context**
There is an [open bug on Capacitor](

[2022-08-31 05:33] rbalet opened #151 "Explain in the DOC what to find in the DOM, in case the camera doesn't show up"
**Is your feature request related to a problem? Please describe.**
Actually, when running `BarcodeScanner.startScan()` the camera does not show up.
I tried to debug & fix with the following https://github.com/capacitor-community/barcode-scanner/issues/7#issuecomment-744441148 or https://github.com/capacitor-community/barcode-scanner/issues/26 as explained in the doc, but some of the information wr

[2022-08-31 08:03] rbalet commented on #151
Okey, after digging a bit more, this should be the element we should see appearing in the DOM, just under the `body` tag

[code]

For me it wasn't appearing at all, so I did try to move the logic in the `app.component.ts` and then it worked.
It seems that the component who call the logic shall not be to low in the DOM tree.
_For me it was the fourth Element from the route_

[2022-08-31 09:14] rbalet commented on #151
This was something else, basically nothing will be shown in the DOM

[2022-08-31 09:14] #151 closed

[2022-09-01 16:13] cristiantorres91 opened #154 "Scanner on dark mode not working"
If in android I have the dark mode active when I activate the scanner the screen is black

[2022-09-01 16:22] thegnuu commented on #154
This is most certainly not an issue caused by the plugin. Ionic adds a css variables (`--ion-background` or something) which sets a background that will prevent the camera view from being visible... Please check your DOM tree and verify that all backgrounds are transparent.

If you are using another framework I need a repo to reproduce your issue, otherwise it will be really hard for me to help yo

[2022-09-01 17:08] florian72810 commented on #154
I have found the same bug on iOS.

If iOS settings are in clear mode, it works fine.
If iOS settings are in dark mode, the camera preview does not show.

[2022-09-05 18:22] marcos-iov42 commented on #154
Same issue on iOS.
Since this dark mode is enabled out of the box at least on Ionic 6, I believe this library should take that into consideration and make it work when `BarcodeScanner.hideBackground();` is called.

[2022-09-05 18:36] thegnuu commented on #154
I don't think so. This is a capacitor plugin, not an ionic plugin. It can be used with every possible js framework/lib on top of it, even if capacitor is built/maintained by the ionic team and they use it as default.

So adding framework specific code should not be part of the plugin itself and should be handled by every dev the way they need it, the same way they have to build the ui the way they

[2022-09-05 18:47] marcos-iov42 commented on #154
Understood. Fair enough, I guess anyway it's as easy as doing:
`document.body.style.background = 'transparent';`

Thank you very much.

[2022-09-05 18:56] thegnuu commented on #154
You are right, it's not a hard task to do - as long as you know what the cause of the issue is.

The only "problem" I have with adding it to the plugin itself is that we basically need to double-check everything on every ionic release, wich is completely outside of the capacitor release cycle. This is kind of an overhead for an easily solvable problem, especially since you cannot use this plugin o

[2022-09-06 14:07] cristiantorres91 commented on #154
I understand thanks

[2022-09-07 10:15] MatteoOstermeier opened #155 "Cannot see the scanner view in android with capacitor 4"
First of all, thanks for your support! This is my first app using capacitor (was using cordova for my previous projects) and barcode scanners and I'm really trying to get this to work:).

**Describe the bug**
BarcodeScanner.startScan() does not show anything. Function is triggered in the background as i see the console logs. But I cannot see anything happen. I moved the function to the app module

[2022-09-07 12:33] MatteoOstermeier commented on #155
Sorry, this issue was realated to the other ticket for dark-mode. I'll try to work around it.

[2022-09-07 22:43] salazarbarrera opened #156 "The UI doesn't show up in Android 8.1 (light mode, Capacitor 6, Ionic 4, Angular 14, WebView 70)"
**Describe the bug**
I can't [find the scanner in the DOM](https://github.com/capacitor-community/barcode-scanner#i-do-not-find-the-scanner-in-the-dom). I followed the advice to manually [hide certain objects](https://github.com/capacitor-community/barcode-scanner/issues/26#issuecomment-808943754) as it was suggested by other users but it didn't work. I also tried to start BarcodeScanner from `app

[2022-09-07 22:50] salazarbarrera commented on #156
The same code was tested in a vanilla Android 11 with WebView 104.0.5112.97.

Same results.

[2022-09-08 11:57] thegnuu commented on #156
@salazarbarrera you are not requesting permission the the camera.
Without camera permission the plugin will never be able to display something ;)

Check the docs for permission, the easiest way for testing is to add `await BarcodeScanner.checkPermission({ force: true });` before calling `await BarcodeScanner.startScan()`, but you should implement better checks based on the state of course :)

Afte

[2022-09-08 21:38] salazarbarrera commented on #156
I'll open another issue about that when I modify the code after work. About this matter, the problem is solved.

[2022-09-08 21:38] #156 closed

[2022-09-08 22:57] salazarbarrera opened #157 "Torch not working on Android 8 nor Android 11"
**Describe the bug**
I can't turn on the torch despite I can effectively see its state changed by logging the output of BarcodeScanner.getTorchState(). I'm not sure if I'm doing something wrong or if the plug-in fails with my setup.

You can see an example project [in this branch](https://github.com/salazarbarrera/barcodeIonicTest/tree/flashligthSupport).

**To Reproduce**

  1. Clone the example

[2022-09-09 07:11] thegnuu commented on #157
Unfortunately you have not pushed your android folder, so I cannot see exactly what is going on there. But I changed a few files in your branch and it works on my devices. I will just post the changes here, you can simply replace those files:

global.scss
[code]

home.page.ts
[code]

home.page.html
[code]

This should work on your side as well, please test it out :) It should as well point out how

[2022-09-09 07:14] thegnuu commented on #155
The easiest solution I found so far:

Add this to your global css:
[code]

And before you use the scanner set the class on the body:
[code]

It would of course make sense to remove the once your done afterwards :)
[code]

Please let me know if this works for you so I can close this issue :)

[2022-09-09 07:14] #155 closed

[2022-09-09 07:35] thegnuu commented on #154
Guys I added this to the readme, this should help in the future for this issue :)

https://github.com/capacitor-community/barcode-scanner#ionic-css-variables

[2022-09-09 07:35] #154 closed

[2022-09-09 07:36] thegnuu commented on #150
I already now about this issue, but thank you for opening it as an issue.

Would it be possible for you to create a PR of your changes for Android and iOS?

[2022-09-09 07:37] thegnuu commented on #147
Please check out this: https://github.com/capacitor-community/barcode-scanner#ionic-css-variables

If you still have issues, feel free to reopen this issue :)

[2022-09-09 07:37] #147 closed

[2022-09-09 11:41] Squix commented on #147
I couldn't remove the new splashscreen with the splashscreen capacitor plugin. But I was able to revert to the old splashscreen by edtiting the _android/app/src/main/res/values/styles.xml_ file, doing the contrary described here : https://capacitorjs.com/docs/updating/4-0#optional-use-the-new-android-12-splash-screen-api

[2022-09-15 07:00] 1andonlyziz opened #158 "startScanning returns -1"
When using startScanning() function, -1 will be returned for each result
But it logs well on android studio when a barcode is detected

I'm using version 3.0.0

<img width="1155" alt="CleanShot 2022-09-15 at 10 00 19@2x" src="https://user-images.githubusercontent.com/73785385/190336506-adfe2f60-e1cc-4177-8f06-1d181908d7f1.png">

[2022-09-15 07:02] thegnuu commented on #158
Can you provide a repo to reproduce this issue?

[2022-09-15 07:18] 1andonlyziz commented on #158
@thegnuu sorry it turns out I'm not using the callback properly ^_^"

[2022-09-15 07:18] #158 closed

[2022-09-15 07:19] thegnuu commented on #158
Yep, this might result into some errors ;)

Glad you found the solution :)

[2022-09-20 20:14] brian-g opened #159 "No way to cancel barcode scan"
**Describe the bug**
In the current implementation, there is no way to cancel the scan of the barcode on iOS (not sure if this affects Android). This is an issue because a user may inadvertently initiate a barcode scan and then not have a barcode to scan that would dismiss the interface.

**Expected behavior**
I expect there is a way to cancel the operation.

**Version**
2.1.1

**Desktop (please c

[2022-09-21 13:22] thegnuu commented on #159
There is a `stopScan` function which will stop the current scanning process...

[2022-09-21 15:59] #159 closed

[2022-09-27 17:23] simengjermundsen opened #160 "Ability to adjust focus"
On an iPhone 14 Pro with iOS 16 I am having great difficulty scanning regular binary codes.
There is no autofocus, so I have to keep the barcode far away from the camera to get it in focus, but then the barcodes appear very small and the reader has great difficulty reading them.

Any chance the ability to set focus area or something similar could be added?

[2022-09-28 08:39] thegnuu commented on #160
I have the same issue on my 14 Pro Max, but as far as I am able to tell now this issue is more related to the current camera issues of those devices. I have the same issue in other barcode-scanning apps at the moment, the same Apps are working on the iPhone 12 and 13 without issues. I will have a look at it, but I guess our only "solution" is wait for a fix from Apple on this one.

[2022-09-28 09:56] simengjermundsen commented on #160
Ok!
Thank you for looking into it :)

Btw: I have been able to minimize the problems by making sure to scan the barcode in the exact center of the screen.
On other devices this has not been as important, but now it seems I have to be scanning the code in the exact center.

[2022-09-28 10:40] thegnuu commented on #160
What kind of code are you trying to scan?

[2022-09-28 10:42] simengjermundsen commented on #160
Mostly EAN.

[2022-09-28 10:46] thegnuu commented on #160
Hmm, yeah - 1D codes are an issue anyways...

I created a `mlkit` branch, if you are willing to test it out. This should work way better with 1D codes.

But currently only the iOS version is partally implemented.

[2022-09-29 06:55] simengjermundsen commented on #160
Thanks!

I will have a look :)

[2022-09-29 07:58] died89 opened #161 "Scanner is 'slow' at Android devices"
I implemented the barcode scanner in my Ionic 6 app. The scanner works very well at iOs devices, but on multiple Android devices it doesn't. Scanning a QR code takes very long because you have to find a certain way to hold the device, despite the QR code is in the middle of the screen. Other QR scan apps from the Play store working very well and fast.. I have added QR_CODE as target format.

I'm s

[2022-09-29 07:59] gaspop opened #162 "DOM element not appearing"
**Describe the bug**
I've run into the issue mentioned in the instructions, where the element for displaying the camera does not appear in the DOM. The camera is started, as indicated by my phone, but the view isn't rendered. I'm posting this issue as I don't think I've missed anything in the instructions. Could the problem be the web app is using react?

**To Reproduce**
Steps to reproduce the be

[2022-09-29 08:41] thegnuu commented on #162
I am pretty sure the issue is somehow related to your setup and it's not a plugin issue ;)

Can you share me your repo? There are unfortunately informations missing and I need the complete setup to verify it...

[2022-09-29 08:46] thegnuu commented on #161
Hmm, I never heard about performance issues on QR codes so far... The android version is using zxing as a lot of other projects and at least for 2D codes this usually works well.

Do you have a repo to reproduce this?

[2022-09-29 09:06] gaspop commented on #162
Thank you for getting back so quickly! I'm pretty sure it's something with my setup as well, but I don't see anything obvious.

I set up a a repo to test it [here](https://github.com/gaspop/barcode-scanner-debug)

[2022-09-29 09:20] thegnuu commented on #162
Ok, found it. You have a background set on your `.App-header` class, since the scanner will be rendered behind all DOM elements this background your scanner will never be visible if an element with a background is in front of it ;)

You just need to add some logic to control the background of your own css and set it to transparent if the can is startet, then everything should work.

[2022-09-29 11:57] gaspop commented on #162
It does indeed. I did try the suggestion of adding a class to the body that sets the background color to transparent when starting the scanner, as mentioned in the documentation, but never got that to work so I must have done something wrong.

Thanks for the help!

[2022-09-29 11:57] #162 closed

[2022-09-29 12:51] died89 commented on #161
Thanks for your fast reply! In the meantime I know what the problem is.

In my design the camera-view is at about 25% from the top. Not vertically aligned in the center. This is the design:

![Screenshot 2022-09-29 at 14 40 43](https://user-images.githubusercontent.com/14843288/193034545-96c62938-70f9-4864-8d1f-1faad9fc3a4a.png)

So when I point the camera to the QR code, the QR code is not in the

[2022-09-29 14:10] thegnuu commented on #161
This should technically not be an issue for the scanning itself, the QR code (other than 1D codes) should be readable in the complete viewport (which is by designs, since always the complete viewport is used). The only issue that might occur is that you are currently not able to specify the area for the scan, that means that a code could also be read if it is outside of your rectangle, for example

[2022-09-29 14:27] died89 commented on #161
Wow oke.. Strange. I created a new app with the camera in fullscreen view and it does the same behavior. So even in the top of the view the QR code is already visible, but it doesn't scan. When I move the phone to center the QR code in the view, it works..

The devices are a OnePlus 8 Pro and a Samsung A40.

[2022-09-29 14:30] thegnuu commented on #161
Can you share the newly created app with me to have a look?

[2022-09-29 15:06] died89 commented on #161
Sure, [here](https://github.com/diederick-kiwatt/qr-scanner-test) it is.

[2022-09-30 07:16] caginneocles opened #163 "iOS devices heating up"
**Description**
We are using the plugin for scanning barcodes. Usually it is used in warehouses. We noticed that after a couple of minutes the camera and eventually the device itself get heated up and it is very obvious. You can feel it is overheated after five minutes. Although I never experienced it is reported that sometimes it ends up with application crashing.

It is very obvious on iPhone X

[2022-09-30 07:29] thegnuu commented on #163
Unfortunately this is nearly impossible for me to reproduce since I don't have an "older" device to test it with. Personally I don't think that this is an easy fix. The only possible solution I can think of right now is to lower the capture fps and resolution, but this will generate way worse results (especially with 1D codes).

I guess the "overheating" is linked to AVFoundation, but I am not sur

[2022-09-30 09:07] caginneocles commented on #163
Sure thing. I can test the branch in a week. I assume setting up will be rather quick just to test this issue.

[2022-09-30 09:14] thegnuu commented on #163
It should yes, you can just add the branch to your `package.json` and change the calls according to the interfaces (there is no more single-scan function) just a `start`, `pause`, `resume` and `stop`.

https://github.com/capacitor-community/barcode-scanner/blob/ml-kit/src/definitions.ts

It is not finished, for example checking the permissions aso. is missing, but it should work in general for thi

[2022-09-30 09:28] thegnuu commented on #161
Okay, I can see your issue now... The problem really seems to be related to the scanning area, if you are only working on Android you should be able to work around it with #140 .

As I previously said, this is not merged since the behaviour should be more or less the same on Android and iOS IMHO. It looks like this can be done with `rectOfInterest` in AVFoundation, but unfortunately I have current

[2022-09-30 09:59] died89 commented on #161
You are right, the behaviour should be the same at both platforms. So it's fine by me to have a fullscreen scanning area, because that's already the case on iOS. But how is that possible on Android? Because in my new app the scanning area is a little square in the center of the screen. Or we don't fully understand each other :)

[2022-10-05 09:17] died89 commented on #161
Hi @thegnuu , do you maybe have a solution? Or is it necessary to do a redesign (center the scanning area in the viewport)?

Thanks in advance.

[2022-10-05 09:23] thegnuu commented on #161
@died89 unfortunately I have no working solution at the moment, one solution is only working on android and the other is only working on iOS so far. I have no time to work on either one in the upcoming weeks because of other projects, so the easiest way to get a working solution fast would be to use the center of the area. I am working on it, but unfortunately my Android development know-how is no

[2022-10-05 09:57] died89 commented on #161
Allright, I understand it! Thank you for your time and your honest answer. Closing this issue for now.

[2022-10-05 09:57] #161 closed

[2022-10-05 10:00] fabiokounang opened #164 "Cannot go back"
Hello, all is good except when i open the camera and then instantly go back, it wont go back, it kept still being in the camera. Please help

my script is
[code]

the scanner-ui class is
`.scanner-ui { display: none; }`

[2022-10-05 10:28] fabiokounang commented on #164
I think i am mistaken. This is not a bug, but I have to handle back button from android myself
https://ionicframework.com/docs/developing/hardware-back-button

[2022-10-05 10:28] #164 closed

[2022-10-15 13:58] 1andonlyziz commented on #107
@fewNeurons I'm currently working on android implementation  the results are quite promising , I need to do some code clean up and then I'll Create a PR for it.

My next milestone is drawing rectangles around the barcodes that was scanned and detected on the camera View

[2022-10-25 11:36] juergenriemer commented on #123
Any news on this? That feature is definitely sg I'd love to see!

[2022-10-25 11:43] thegnuu commented on #123
I did not have a look at this right now, since I am working on the MLKit version of this plugin and someone just started working on the Android part of this change, since switching to MLKit would change the implementation completely (at least on Android) I am currently holding back additional changes since we will have to do it again once the MLKit version is up and running. But this feature is st

[2022-10-29 21:49] Darkmagister opened #165 "unable to use in android"
**Describe the bug**
i'm trying this plugin to test the barcode functionality, i have installed following the readme but i get
[code]
in android studio

**To Reproduce**
Steps to reproduce the behavior:

i'm starting from a blank project ionic with angular, installed the plugin, edited the AndroidManifest.xml file in the home page of the project i just added a button that should call a function wi

[2022-10-30 17:18] EvaKrizal opened #166 "Unable to use plugin"
When using in project, we were not able to get the scanner working due to errors: ACCESS DENIED...

Steps to reproduce the behavior:

1. Implement in app
2. Try to scan a qr code
3. See error

Expected: camera would open and user would be able to scan qr code.

![Screenshot 2022-10-24 at 14 33 04](https://user-images.githubusercontent.com/91963615/198892015-5cf7ddae-1572-44f7-b36c-891e7148a2ef.jpe

[2022-10-31 08:43] caginneocles commented on #163
Hi, it is indeed not heating up on this branch. Also ability to get media devices and passing the stream to a `video` element is very beneficial compared to previous solution.

I somehow figured the permissions from a closed issue but couldn't make it work fully. It sometimes doesn't read at all, or reads one barcode and stops reading. Maybe I need to make more changes for it to read barcodes cont

[2022-10-31 10:30] thegnuu commented on #166
Did you set the permissions as described?
https://github.com/capacitor-community/barcode-scanner#android

[2022-10-31 10:58] EvaKrizal commented on #166
Yes, all was implemented according to instruction.

[2022-10-31 11:46] alexbainbridge commented on #125
I have this same issue now, same error message. I can recreate it constantly by

1) Do a scan, with a QR code, and everything works as you expect
2) Do a scan, tap cancel button (which we added to the UI), which calls stop scan - this crashes

Temporarily moved to pauseScanning rather than stopScan and that doesn't fail.

[2022-11-01 08:53] yucehasan commented on #108
Hello @thegnuu . Is there any update on this? Will we be able to use the plugin as shown in screenshots?

[2022-11-01 10:13] thegnuu commented on #108
We will yes, someone is currently working on the Android implementation of MLKit and as far as I am informed the results are quite promising there as well. With this you will be able to get the x, y, width and height values of the scanned barcode, therefore you will be able to only accept codes scanned in your defined area.

Unfortunately there is still no timeline...

[2022-11-01 10:15] thegnuu commented on #163
Sounds good! Someone is currently working on the android part of the plugin, unfortunately I don't have a timeline right now.

The main permission issues were on android as far as I know, so I guess fixing the permission on iOS will not be a big issue.

[2022-11-01 10:20] thegnuu commented on #166
Unfortunately I won't be able to help you without a working (or in this case not working) example repo.

I had a look at my test environments and I am not able to reproduce your issue...

[2022-11-01 10:24] thegnuu commented on #165
I will have a look at this as soon as possible, unfortunately I am really busy at the moment...

[2022-11-01 10:32] alexbainbridge commented on #125
I can't share my repo (as its a live app) but could try to extract just this part into a new repo. As mentioned, moved to pausing scanning rather than stopping scanning, so this is not a live concern for me today (but was until I worked out how to get around the issue). i.e. this might be some time before I make this repo

[2022-11-02 12:04] pdarcy97 commented on #166
Also facing this issue and have been unable to find a workaround

Version
Capacitor version 4.3

Device: OnePlus 8 Pro
Android 12

[2022-11-05 08:23] txlife opened #167 "Unable to quit the scanner view"
The old ionic native barcode scanner plugin has a built-in button that can let users cancel the scan.

With this plugin, it is unable to do the same thing. There is no hardware back button for iPhone, how do I get back to the previous view when scanner view is active?

I also had to set the opacity of body element to 0 in order to make the scanner view showing.

[2022-11-09 15:56] JeramieHallyburton commented on #167
Need help with this as well. IOS users are forced to quit app because they cannot escape scanner.

[2022-11-10 08:02] HunSpeedi opened #168 "Add support for multiple scan (multiple barcode at once)"
I saw that there was a [question](https://github.com/capacitor-community/barcode-scanner/issues/43#issuecomment-852062612) regarding continuous scanning. And got me wondering if it is possible to scan multiple barcodes at once.
So not just continuously scanning without closing the camera but capturing all the visible barcodes in the image in one go.

[2022-11-10 08:25] thegnuu commented on #167
You need to create your own UI for this plugin, there are no UI elements provided by default.

[2022-11-10 08:28] thegnuu commented on #167
You can simply render a button on top of your view. Setting the body opacity is not "the right way" since you won't be able to create your custom UI this way, `background: transparent` should be enough since the camera view is just rendered "behind" your application. Depending on your setup of course, maybe you have to set higher DOM elements to a transparent background as well :)

[2022-11-11 09:05] txlife commented on #167
Thanks. I have figured it out right after submitting this issue.

I am using the Modal component which needs to be set to `background: tranparent.`

Then adding a button element to the page with position set to absolute and only display when `isScanning = true;`

This solves the problem.

This plugin indeed gives us more control over the UI that I can even put on a scanning area border on the view

[2022-11-13 05:35] mendozaarjay opened #169 "Camera Not Showing Up"
I already added the
body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}

and the permission is granted.
Can someone please help me

[2022-11-14 17:14] DannePeyya commented on #169
I have the same issue. But I know that the camera is accutally there. But I can't see it.
I can scan qr codes and see logs in xcode.
I'm guessing that the css is not enough for the rendered html.
In the guide, it says you have to add
--background: transparent into your css
and
`document.querySelector('body').classList.add('scanner-active'); `
where you trigger scanner.

Doing this, gave me a camer

[2022-11-14 20:42] atans2468 commented on #169
I'm having the exact same experience. Did anyone figure out a solution for this? I noticed that if I swipe to go back/close my app (while in Android ) then I do see the camera open behind the app body (confirming that the camera is indeed opening).

[2022-11-16 10:42] thegnuu commented on #168
With the current implementation this is not working really well. The currently used libs on Android and iOS will only return the first detected code (if you center to another code, this should be de the first detected and therefore it is kind of possible), the "multiple option" is disable since the results are not consistent at all.

We are working on a MLKit rewrite which should make this possibl

[2022-11-16 10:52] thegnuu commented on #169
This is by definition of the plugin. The plugin will just render a camera-view behind the DOM. Since capacitor can be used with whatever framework you want, if you want to use a framework at all, it is not possible to provide a general solution for this "issue".

You need to check your DOM elements, find the ones that are not transparent, and apply transparency to all the elements in front of the

[2022-11-16 12:01] smachi commented on #168
@thegnuu Any advances on the ml-kit implementation?

[2022-11-16 12:26] thegnuu commented on #168
@smachi Let me check that, someone else is working on the Android part at the moment :)

@HunSpeedi there is currently a branch, but only the iOS version is working. There are still small things to do, but in general it should work.

[2022-11-16 12:27] thegnuu commented on #107
@1andonlyziz sounds great! Were you able to make any progress or do you need any help somewhere? :)

[2022-11-16 12:55] thegnuu commented on #107
@1andonlyziz awesome! Thank you very much for your work! I will have a look at it later today!

I don't think that this feature is necessary to begin with to be honest, surely we can think about it later. :)

[2022-11-17 08:51] thegnuu commented on #168
@HunSpeedi I just received a PR for the Android implementation. I will do my best to check and merge this ASAP so you have a version to play around with. I hope I can finish it by the end of this week :)

[2022-11-17 14:59] JoranLive opened #172 "Is there an easy way to cancel scan with ionic ?"
**Describe the bug**
I am working with ionic 6 and Angular 14.

In order to make the scanner working with ionic, this trick (from the readme page) was not sufficient:
`
this.barcodeScanner.hideBackground();
document.querySelector('body').classList.add('scanner-active');
`
(class is well defined in global css and assigned to body)

I had to do this instead:
`
this.barcodeScanner.hideBackground();
d

[2022-11-17 21:40] jkennedy1980 commented on #172
I'm also interested in this. Working with Ionic6 and VueJs

[2022-11-17 21:44] JoranLive commented on #172
On my side, I added a listener on back button to cancel the scan.

[2022-11-18 08:38] Jellybing opened #173 "why i cannot get scan result?"
when i use like this:
<img width="440" alt="image" src="https://user-images.githubusercontent.com/16889803/202658003-2ea5b426-980d-4089-b66f-5e5e0469fafa.png">

but,i cannot get the result ,how can i get this,thanks.

[2022-11-18 08:41] Jellybing commented on #173
and i can see it consoled this result
<img width="983" alt="image" src="https://user-images.githubusercontent.com/16889803/202658789-a9babaef-f2e3-4470-b2ac-ed89a8dee31a.png">

[2022-11-18 09:36] NLueg commented on #173
But isn't the URL `https://vrimar.github.io/...` the content of the QR-Code you scanned?

[2022-11-18 09:48] thegnuu commented on #173
@Jellybing I am not really sure what exactly your issue is ;)

For me it looks like you are missing your `console.log` because you are filtering for info messages in your log, if you want your message to appear there you need to use `console.info`, but your result should be visible if you show all messages...

[2022-11-18 09:54] thegnuu commented on #172
As you said you won't be able to cancel if you set your body opacity to 0, if you do this, your UI won't be visible at all by definition. You need to check your DOM and make sure all related css variables and elements are transparent and prevent setting the opacity.

Unfortunately this is nothing the plugin can handle itself, since the plugin can be used independent of any framework.
You need to m

[2022-11-18 09:57] thegnuu commented on #166
As I said I believe this is an issue with the setup, and I am unable to help without a way to reproduce your issues...

I am closing this since I have not gotten any feedback, feel free to reopen it if you still have issues and you can provide a repo to help you out!

[2022-11-18 09:57] #166 closed

[2022-11-18 10:24] thegnuu commented on #165
@Darkmagister sorry it took me so long to respond!

I was able to start your project without any issues, the only thing that prevented the scanner from being visible is the `--ion-background-color` css variable which need to be set to `transparent`. Otherwise I had no issues with your project on my Huawei test device.

Feel free to reopen this issue if the problem still exists!

[2022-11-18 10:24] #165 closed

[2022-11-18 10:31] thegnuu commented on #157
That would probably make sense yes, I will have a look at it :)

[2022-11-18 10:31] #157 closed

[2022-11-18 13:13] digitalrepublic commented on #160
Is it the same issue referenced here?
https://github.com/expo/expo/issues/19472#issuecomment-1284810455

[2022-11-19 23:34] hueppee commented on #161
Hi, I have the same performance problems on an Android device when I scan QR-codes (2D DATA_MATRIX). Is there any progress on this issue?

[2022-11-20 23:55] jkd2bleu commented on #26
This worked perfectly for me https://github.com/Nykz/Ionic-6-qrcode

[2022-11-22 15:51] AAmanzi opened #174 "'capacitorExports is not defined' error during bundling and runtime"
**Describe the bug**
`next build` fails if the `BarcodeScanner` plugin is referenced anywhere in the project.
The issue does not occur if the plugin is just imported.

The error is the following:

**To Reproduce**
Steps to reproduce the behavior:

1. Install barcode-scanner Capacitor plugin
2. Import and use it somewhere
3. See error

**Expected behavior**
Build passes without error

**Versions**

[2022-11-23 08:59] AAmanzi commented on #174
Thank you very much ❤️

[2022-11-23 16:04] thegnuu commented on #173
I will close this for now, feel free to reopen if you still have issues...

[2022-11-23 16:04] #173 closed

[2022-11-23 16:44] thegnuu commented on #174
I just released `v3.0.1` with the changes done in https://github.com/capacitor-community/bluetooth-le, can you please test this on your side?

[2022-11-23 16:46] thegnuu commented on #172
Will close this since I have not gotten any feedback, feel free to reopen if you still have issues :)

[2022-11-23 17:29] thegnuu commented on #169
@JoranLive

First of all, nobody is forcing you to use this plugin, if you are not happy with it you are free to find another solution that works for you. All here are doing their best to provide a free plugin to the community, and comments like this will help absolutely nobody.

I guess you are not familiar with how capacitor works, otherwise you would know that there are some technical limitatio

[2022-11-23 17:37] atans2468 commented on #169
@thegnuu I'm sure I speak for the community in letting you know that the rest of us appreciate your work on this and the process of making it work was quite easy once the "issue" was fully understood!

[2022-11-23 18:18] thegnuu commented on #107
Hi everyone!

Thanks to the great work of @1andonlyziz the ml-kit branch should now work on android as well! So far, the results are really promising!

There are still a few TODOs and some cleanups that need to be done, but I should be able to create a dev-release in the upcoming week or so!

[2022-11-23 18:57] JoranLive commented on #169
Sorry about what I wrote it was probably a bad day.

I appreciate this plugin and for sure you allowed me to save my time.

You are right, I'm absolutly not familiar with Capacitor for now.

However, I notice that I'm not the only one to face the issue with Ionic even if we followed the readme.

I will think about it and try to come back with suggestions.

Thank you

[2022-11-24 09:23] AAmanzi commented on #174
Working perfectly now, much appreciated!

[2022-11-24 09:31] thegnuu commented on #174
Great! Thanks a lot for your help and your feedback!

[2022-11-24 09:33] thegnuu commented on #163
I was now able to merge the android version into the branch, this is a big step for the ml-kit version.

I still needs cleanup and my time is kinda limited at the moment unfortunately, but I will do my best to make progress as fast as possible.

[2022-11-24 09:35] thegnuu commented on #67
This should now finally be fixed, since `main` in `package.json` is now set to the`commonjs` version of the plugin :)

[2022-11-24 09:35] #67 closed

[2022-11-24 09:39] thegnuu commented on #124
I will close this issue since the ml-kit version is now in its end-stages and I am cleaning up "old" issues. I have pretty good results scanning codes in any directions on this branch (on android it works great, there are some autofocus issues on ios I have to address)

[2022-11-24 09:39] #124 closed

[2022-11-24 09:40] thegnuu commented on #106
This will be addressed in the new ml-kit version

[2022-11-24 09:40] #106 closed

[2022-11-24 10:55] thegnuu commented on #160
@simengjermundsen & @digitalrepublic

I updated the ml-kit branch with a new camera selection. Now the autofocus is enabled and if available, the triple or dual camera is used which should provide way better results.

Unfortunately I have only an iPhone 14 to test, if anyone of you has an older device without a triple cam it would be awesome if you find time to test it out :)

[2022-11-24 10:56] thegnuu commented on #120
This "issue" is now fixed in the ml-kit branch and will be released in the upcoming weeks :)

[2022-11-24 10:56] #120 closed

[2022-11-24 10:56] thegnuu commented on #141
I will close this and rewrite the docs to help with this issue :)

[2022-11-24 10:56] #141 closed

[2022-11-24 12:08] thegnuu commented on #127
@tomfong I will close this issue :)

[2022-11-24 12:08] #127 closed

[2022-11-24 12:10] thegnuu commented on #10
The `ml-kit` branch is currently in a cleanup process, since it will be possible there to get all codes in the viewport with their position I will close this issue for now :)

[2022-11-24 12:10] #10 closed

[2022-11-24 12:12] thegnuu commented on #136
@csurbier the `ml-kit` version will be finished soon, and codes scanned there will return the position of the code, therefore you will be able to make sure only codes in a given area will be used

[2022-11-24 12:12] #136 closed

[2022-11-24 12:14] thegnuu commented on #105
@sephallen would it be possible for you to have a look at the `ml-kit` branch and test it with that one?

[2022-11-24 17:30] digitalrepublic commented on #160
Thanks, I'll pull the new version and let you know what I find

[2022-11-25 08:19] thegnuu commented on #160
@digitalrepublic sounds good, just be aware that not everything is implemented on iOS... I am currently cleaning everything up :)

[2022-11-28 11:04] cqsDeepakVerma27 opened #175 "getting error on build"
\android\src\main\java\com\getcapacitor\community\barcodescanner\BarcodeScanner.java:3: error: package android.content does not exist
import static android.content.Context.MODE_PRIVATE;
                             ^

[2022-11-28 13:23] thegnuu commented on #175
This is usually not an issue of the plugin itself, this might happen if your `@capacitor/...` module versions are not matching and the issue is created by capacitor itself, for example using an older cli version than the android package or something like that.

Try updating all your dependencies to matching versions and maybe you need to delete your `android` folder and add it again with `npx cap

[2022-11-28 13:23] #175 closed

[2022-11-29 08:05] sephallen commented on #105
@thegnuu I've had a bit of a play with it and it appears to work.
I needed to do a lot of refactoring based on the new typings but it isn't entirely clear how I am supposed to achieve a continuous scan as the docs do not appear to have been updated on that branch.
Do you have an example on how I should do this?

[2022-11-29 09:08] thegnuu commented on #105
@sephallen Yeah you are right, still WIP and I need to completely refactor the readme. But since there might be changes I thought it will make sense to do this once the rest is finished :)

I dropped support for a single scan action, since you can do this in a callback without issues. I will provide a proper upgrade-guide once I am done. The `startScan` and `startScanning` was confusing for some u

[2022-11-29 09:57] sephallen commented on #105
@thegnuu what you're saying makes a lot of sense.
Thank you for the example code, it does appear to work on Android at an acceptable speed, albeit still a little slow.
It also appears that, like the previous version, only the very center of the viewfinder is capable of reading the barcode - is there any way to adjust this?

[2022-11-29 21:59] huuhait opened #176 "Anyway to border around qrcode"

[2022-11-30 05:16] sephallen commented on #105
@thegnuu I am currently out of the country and I only have an Android device to test with - also a Pixel 6!
I will be able to test on iOS in a couple of weeks.
I think you are right about auto focus, perhaps a tap to focus would be beneficial?

Great work so far though! I really appreciate your efforts and I am looking forward to the release!

I am always happy to test, ping me if you need anythin